[2017-10-10 11:06] tzach opened #440 "Scylla AMI: instances which are not pre-configure show the wrong message"

[2020-02-18 15:11] tzach opened #10 "Add Scylla Manager and Scylla Monitoring to the CF tempalte"
Scylla deployment often comes with Scylla Manager and Scylla Monitoring in place
It would be useful to run them by default from CF

[2020-02-18 15:44] fruch commented on #10
Monitor should be quite easy, but manager is a bit of a pain, since you need one more scylla configured.

We can configure both on one node like we are doing in SCT

[2020-02-19 06:59] tzach commented on #10
We can add them one by one
Starting with Monitoring make sense since its Open Source project

We can use AMI for each, as we do in Scylla Cloud

[2020-03-18 13:04] yaronkaikov opened #19 "duplicate scylla-machine-image rpm from same relocatable package"
There is a duplicate scylla-machine-image rpm and yaml file in the following link:
http://downloads.scylladb.com/rpm/unstable/centos/master/2020-03-09T21%3A59%3A53Z/scylla/noarch/
http://downloads.scylladb.com/rpm/unstable/centos/master/2020-03-09T21%3A59%3A53Z/

This happen when building cantos-rpm more then one from the same relocatable package

In such scenario, relevant packages should be over

[2020-03-18 13:04] yaronkaikov commented on #19
@fruch @bentsi FYI

[2020-03-19 07:58] #19 closed

[2020-03-19 07:59] fruch commented on #19
@yaronkaikov stated he didn't reproduced it

[2020-03-19 08:42] bentsi opened #20 "[Q] Do we need to store a copy of licence in the Image?"

[2020-04-08 09:23] tzach opened #24 "Fail to use Scylla 4.0rc1 user data"
I launch a new Scylla Cluster with 4.0rc1 AMIs, and fail to create a cluster

AMI: ScyllaDB 4.0.rc1 (ami-0ddd86daaba39d1d1) (us-east-1)

User data
[code]
Is the above valid?

Looking at one of the the instance configuration, it seems cluster name (and maybe more params) are not set correctly

[code]

[2020-04-12 20:19] fruch commented on #24
@tzach it's not a valid json, you have an extra `,` after the true.

[2020-04-12 23:12] roydahan opened #25 "auto_bootstrap shouldn’t be set to false by default"
https://github.com/scylladb/scylla-machine-image/blob/b06535de7a4e0532f3564bb4b81a8b4da517ace3/aws/scylla_configure.py#L22

[2020-04-13 07:21] tzach commented on #24
Ooof, will try again

[2020-04-13 07:22] tzach commented on #24
BTW, we need a few **basic** and useful examples in the docs
The only full example is complex

[2020-04-13 08:16] #24 closed

[2020-04-13 08:19] tzach opened #26 "minimalistic scylla.yaml on Scylla AMI"
Scylla 4.0 AMI include (I assume) only small subset of the parameters
[code]

This is less useful than the full blow scylla.yaml, which includes many parameters as comments, as well as description per parameters.
This extra comments are very helpful when one need to update the yaml file.

[2020-04-13 09:30] fruch commented on #26
we'll need to switch to a different yaml parser to be able to save comment  https://pypi.org/project/ruamel.yaml/

meanwhile the original scylla.yaml is also there as `/etc/scylla/scylla.yaml.example`

[2020-04-13 09:46] tzach opened #27 "Enchantment: setting user parameters when launching a Scylla cluster with CF"
How can I set a user data parameter, for example `experimental: true` when launching a cluster with CF?

![image](https://user-images.githubusercontent.com/170200/79111033-6ca30700-7d84-11ea-8d71-d9d3643bbcca.png)

Migrated to Jira: [SMI-7](https://scylladb.atlassian.net/browse/SMI-7)

[SMI-7]: https://scylladb.atlassian.net/browse/SMI-7?atlOrigin=eyJpIjoiNWRkNTljNzYxNjVmNDY3MDlhMDU5Y2ZhYzA5YTRkZj

[2020-04-13 09:49] fruch commented on #27
he currently can't, we didn't thought of that...

[2020-04-13 10:40] tzach commented on #26
It will be much more friendly.
We are not referring to `/etc/scylla/scylla.yaml.example` anywhere, so users will not know its there

[2020-04-13 10:47] fruch commented on #26
It would take time to make the switch (and it won't be in 4.0), but meanwhile we could add a pointer to it in the docs.

[2020-04-13 10:57] tzach opened #28 "Use sphinx-scylla-theme to generate the docs"
https://github.com/scylladb/sphinx-scylla-theme is a Sphix theme similar to what we use in docs.scylladb.com

It will be nice to use it with the Sphinx project.

[2020-04-13 11:40] bentsi commented on #26
Meanwhile, we can also add a reference to `scylla.yaml.example` at the end of the the `scylla.yaml`

[2020-04-13 15:24] roydahan commented on #25
@bentsi , @fruch please fix it ASAP.

[2020-04-13 15:24] slivne commented on #25
please note previous ami default was true

[code]

[2020-04-14 09:38] slivne commented on #25
Lets close the issue when its merged

[2020-04-14 09:44] penberg commented on #25
The `scylla-machine-image` repository uses `next` as the default branch. This needs to be switched to `master` because Github auto-closes issues as they are merged to the default branch.

[2020-04-14 10:41] bentsi commented on #25
switched the default branch to be master

[2020-04-15 11:39] #25 closed

[2020-04-21 09:28] tzach commented on #26
@anton-dessiatov please comment

[2020-04-21 09:57] anton-dessiatov commented on #26
Not a huge deal, but Scylla Cloud backend code uses a post-configuration script that runs `sed` like this:

`sed -i "s|# broadcast_address: 1.2.3.4|broadcast_address: $PUBLIC_IP|g" /etc/scylla/scylla.yaml`

Obviously that does nothing for the new `scylla.yaml` that has comments stripped.

I believe we could live with a specialized post-configuration script for Scylla 4.0+ (especially keeping in mi

[2020-04-21 10:18] fruch commented on #26
@anton-dessiatov
we also had to throw away a few sed trick from our test code.

this small utility might help:
https://github.com/mikefarah/yq

anyhow, we might preserve the comments, but I don't think it would make it to 4.0 version

[2020-04-21 10:21] anton-dessiatov commented on #26
Yup, we also use a bit of `yq` throughout our code (and will likely use it to replace `sed` tricks indeed). Thanks!

[2020-04-26 10:32] gcarmin opened #31 "Missing i3.metal in Launch a Scylla Cluster using Cloud Formation."
@tzach  Please add i3.metal instance type to Launch a Scylla Cluster using Cloud Formation.
Thanks.

[2020-04-28 18:08] #31 closed

[2020-05-21 19:31] tzach opened #36 "Setting Virtualenv for doc failed"
[code]

[2020-08-05 15:09] amoskong opened #49 "scylla-image-setup service is started when stopping the source instance"
#### Description

I found scylla-image-setup service was started when stopping the source instance.
It should be unexpected, and it's interrupted during coredump setup.

When new instance is created, another scylla-image-setup will be executed. It will overwrite some change of first scylla-image-setup.

The problem was found in master AMI: scylla_2020-08-03T23-11-29Z (ami-05b55eb1eb02c4a3a)
I also

[2020-08-05 16:17] amoskong commented on #49
This issue can be workarounded by moving enable of scylla-image-setup.service to the end.
But I saw scylla-server is starting during stopping source instance, need to find the root reason.

[code]

[2020-08-06 02:57] amoskong commented on #49
Hi @slivne

Currently node_exporter.service will be enabled and started during scylla_setup, is it expected?
it should be fine to start node_exporter after restart.

I tried to disable start of node_exporter.service in scylla_setup (node_exporter_install), the scylla-server can still be started during stopping source instance.

----
I saw the scylla-image-setup.service or scylla-server.service is

[2020-08-09 06:37] fruch commented on #49
@amoskong It's not clear to me what's the bug here ? what are the changes the are overwritten ? how does it manifest before swap configuration was enabled ?

[2020-08-31 08:04] amoskong commented on #49
We don't expect scylla-image-setup service is started in creating AMI, right? we expect it firstly starts when the new instance is creating /initing.

[2020-08-31 08:12] fruch commented on #49
Up until the swap issue, we didn't really cared if it was started during the stop of the instance or not.
the logic on instance boot wasn't related to that fact.

If there still a real issue with this happening ? if not, I don't see a point in chasing this issue.

[2020-08-31 08:29] amoskong commented on #49
In my tests, the scylla-ami-setup service will be interrupted after coredump setup, swap setup isn't really executed.

The curious question is why it's started after enable?

[2020-09-03 10:33] fruch opened #53 "consider `start_scylla_on_first_boot` to be able to handle strings"
while working with scylla-cloud team,
seem like by mistake they were pass the following in the user-data:
[code]
it consider at true, and did exactly the opposite from what intended.

we should consider supporting also strings for this specific parameter

and also to print clearly the user-data we are getting for debug

[2020-09-03 10:33] fruch commented on #53
@bentsi, FYI

[2020-09-08 20:27] yaronkaikov opened #54 "Build Scylla machine image on Azure"
As we want to be able to support additional cloud provides, we be able creating Scylla machine image on Microsoft Azure platform

General plan:

1. Define initial configuration between Azure and Jenkins (plugins , permissions, key access and act`)
2. Setting a new VM based on 20.04 OS with Scylla running on it. We should use azure CLI tool for that. installation instruction can be found at https:/

[2020-09-08 21:13] bentsi commented on #54
It is in our pipeline

[2020-09-08 21:19] yaronkaikov commented on #54
I was asked by @penberg to do it, or at least start checking what is needed.

[2020-09-09 05:07] fruch commented on #49
I think we found the root cause this issue, it's `scylla-fstrim.timer` that spin up scylla-server in all kind of cases.
we seen it as part of the scylla-cloud installations, that any systemd services that `Wants` timers, would kick this dependency again

[2020-09-09 05:13] fruch opened #55 "Disable `scylla-fstrim.timer` during installation and maybe boot"
seem like this timer is causing scylla-server to spin up, even if service is stopped or failed
https://github.com/scylladb/scylla/blob/master/dist/common/systemd/scylla-fstrim.timer

we seen this happaning in scylla-cloud installation one they have a service with:
[code]

During it's installation, scylla-server would start again regardless of current state (and even is scylla-server.service is dis

[2020-09-14 17:36] fruch opened #56 "For backward compatibility /etc/scylla/ami_configured should be crated when AMI is finished booting"
some third-parties we're using this file to figure out the `scylla-ami-setup` is done
during the creation of `scylla-machine-image` we rename this file assuming it's only used internally

[2020-09-30 08:32] penberg opened #59 "Move cloud support from scylla.git to scylla-machine-image.git"
The cloud support code (e.g. AWS & GCE) is now in scylla.git, which does not actually need it for anything. Let's work to move that code to this repository. @avikivity points out that `scylla_setup` needs a more stable interface for that to happen.

[2020-09-30 11:03] roydahan commented on #54
@yaronkaikov any update on the progress here?

[2020-09-30 11:05] yaronkaikov commented on #54
@roydahan for some reason i don't have access to Azure for about 2 weeks now. waiting for Dor to fix it for us

[2020-09-30 11:29] fruch commented on #54
Dor is the sole admin ? I hope not...

[2020-09-30 19:47] yaronkaikov commented on #54
@fruch looks like it,

[2020-09-30 20:00] fruch commented on #54
First order of business, I would say. Is to rectify that.
@avikivity @slivne, can you help with that ?

[2020-10-01 08:15] avikivity commented on #54
@dorlaor ^

[2020-10-01 08:19] dorlaor commented on #54
Ack, will do tomorrow, I struggle w/ them but it's solvable.

[2020-10-05 11:32] yaronkaikov commented on #54
@penberg ^^

[2020-10-08 11:30] bentsi opened #61 "Rename /etc/scylla/ami_disabled to smi_disabled"

[2020-10-08 20:58] fruch opened #62 "enable `VIRTIO_SCSI_MULTIQUEUE` for GCE image"
reading this:
https://cloud.google.com/compute/docs/disks/optimizing-local-ssd-performance

I've found on this feature, that we might no have enable for our image:
https://www.packer.io/docs/post-processors/googlecompute-import#image_guest_os_features

we need to try see how we can add it

[2020-10-08 21:05] fruch commented on #62
ubuntu seem to have this turned on by default:
[code]

[2020-10-11 08:33] bentsi commented on #62
We don't support SCSI interface for GCE, only NVMe

[2020-10-11 14:23] fgelcer opened #63 "user data url broken"
we found out that the url for getting the user data is broken on Scylla master
this is what is actually running:
`http://169.254.169.254/latest/meta-data/user-data`
it should be:
`http://169.254.169.254/latest/user-data`

[2020-10-11 14:30] fruch commented on #63
me and @bentsi found the root cause,
it's in scylla-core code
https://github.com/scylladb/scylla/blob/97c99ea9f344f023119823f0d627bec581d4e9ba/dist/common/scripts/scylla_util.py#L490

cause of recently refactored code.

@bentsi is creating a PR for a fix.

[2020-10-12 10:05] #63 closed

[2020-10-29 19:43] yaronkaikov opened #75 "enbale dry_run option when building GCE image"
Today in scylla-pkg we have a process running on dryRun when need to validate the pipelines code. We need to have the ability to run GCE build image in dryRun mode so it will not actually build, just verify the syntax of the command is OK.

@bentsi suggested to use for example "validate" argument to implement the "dry" mode which can be add to build_image.sh

[2020-11-01 12:12] yaronkaikov opened #76 "machine-image rpms need to support all providers"
Today when building scylla-machine-image rpm we provide a flag `-c aws` so it will build the rpm for AWS machines. Now that we support GCE as well, we must have one rpm which support all providers.

Also in the process, let's remove the `-c` flag and support default build

[2020-11-03 07:11] #62 closed

[2020-11-08 11:14] ShlomiBalalis opened #81 "scylla_create_devices fails when var-lib-scylla.mount already exists"
During a restart_then_repair nemesis in SCT, we've noticed that when we run scylla_create_devices on a restarted scylla instance the script fails when var-lib-scylla.mount already exists, a behavior we've never seen beforehand, and it is not a part of the known procedure.

As for SCT, at the moment we have a temporary fix for the issue: https://github.com/scylladb/scylla-cluster-tests/pull/2839 wh

[2020-12-22 09:32] yaronkaikov commented on #54
@slivne @penberg - I still have no access to Azure. What should i do with it?

[2021-01-11 11:14] juliayakovlev opened #91 "artifacts-gce-image-test: Failed to create devices"
**System under test**

Actual gce image used: scylla-4-4-dev-build-2021-01-11t09-05-45
AWS region: us-east1
Instance type: n1-standard-2
Scylla packages installed:
scylla-conf-4.4.dev-0.20210111.3aa80f47fec.x86_64
scylla-kernel-conf-4.4.dev-0.20210111.3aa80f47fec.x86_64
scylla-tools-4.4.dev-0.20210111.3aa80f47fec.noarch
scylla-debuginfo-4.4.dev-0.20210111.3aa80f47fec.x86_64
scylla-python3-4.4.dev-

[2021-01-11 11:24] fruch commented on #91
@aleksbykov can you take a look, this sound like the recent #88 might be the cause of it.

[2021-01-11 11:35] aleksbykov commented on #91
@fruch , yes, you right. this issue was triggered by this commit.
Prepare a fix

[2021-01-13 12:07] slivne commented on #91
@fruch did the patch fix the problem - can we close this issue ?

[2021-01-18 12:40] fruch commented on #91
yes it did, we can close (wasn't close automatically, cause it was merged directly to master by mistake)

[2021-01-18 12:40] #91 closed

[2021-02-08 13:30] penberg commented on #54
(I removed lots of "ping" comments from this issue, which were making this issue hard to read.)

@bentsi @fruch Can you please comment on the plan in the issue description by @yaronkaikov to make Azure happen? Did we miss any steps.

[2021-03-21 09:31] tzach opened #106 "Docs: install Scylla on AWS with or without CloudFomration"
See https://docs.yugabyte.com/latest/deploy/public-clouds/aws/cloudformation/
for a good example (also support only one DC)

Why is it good:
- part of docs
- give CLI and AWS Console example
- With or without Cloud Fomration

[2021-03-21 09:36] tzach commented on #26
ping

[2021-03-21 13:23] yaronkaikov commented on #54
Scylla currently doesn't support Azure as cloud provider , opened an issue https://github.com/scylladb/scylla/issues/8325

[2021-03-23 13:43] syuu1228 opened #111 "AWS/GCP: scylla-image-setup.service fails when no additional SSDs for RAID added on the instance"
Seems like we have a bug to handle RAID for gcp, when no free disks available.
On the instance which added additional SSDs just works finely, so problem is no disk case.
Correct behavior for this is, detect no additional disks and skip RAID setup.

[code]

[2021-03-23 16:22] syuu1228 commented on #111
"Forgetting to add" may misleading title, since without addtional SSDs is still valid configuration for Scylla, so renamed the title.

[2021-03-23 17:19] syuu1228 commented on #111
Found that it also may occur on AWS.
But unlike on GCE, we always force to create maximum number of ephemeral disks, so this never happen on supported instance (because all supported instance has ephemeral).
However, some unsupported instances does not have ephemeral disks, we may get same error on AWS too:

[code]

[2021-03-23 17:35] syuu1228 opened #112 "Ubuntu image: need to warn that Scylla recommends to use XFS volume for data volume"
Unlike CentOS AMI, Ubuntu AMI uses ext4 as rootfs filesystem.
If we launch the AMI without ephemeral disks, /var/lib/scylla will be on ext4 filesystem.
We should shows up warning on login message that we recommend to use XFS filesystem, and to do so we need extra disks to construct RAID volume (with XFS filesystem).

Same with GCP.

Related with  #111

[2021-03-23 17:38] syuu1228 commented on #112
Actually GCP is more serious, on GCP image it won't attach Local SSD scratch disks by default.

[2021-03-25 16:51] #26 closed

[2021-03-29 05:37] yaronkaikov opened #114 "Failed to build machine-image deb package"
This happens  in enterprise but should be fixed here and then backport
in https://jenkins.scylladb.com/view/nexts/job/scylla-enterprise/job/unified-deb/181/consoleFull we got the following error:

[code]

[2021-03-29 05:38] yaronkaikov commented on #114
@syuu1228  it looks like we are expecting the service name to be `scylla-enterprise` while it's always `scylla`

Can you please have a look?

[2021-03-29 06:08] syuu1228 commented on #114
Isn't it same issue with https://github.com/scylladb/scylla-enterprise-machine-image/issues/16?
Seems like the fix https://github.com/scylladb/scylla-machine-image/pull/113 is not yet merged

[2021-03-29 06:14] yaronkaikov commented on #114
@syuu1228 Yes it is.closing as it's duplicate

[2021-03-29 06:14] #114 closed

[2021-03-29 06:45] syuu1228 commented on #111
Probably failing scylla-image-setup.service is correct since we need RAID volume, but it should not with python traceback, should be human readable error message.

[2021-04-05 08:51] #111 closed

[2021-04-05 08:51] #112 closed

[2021-04-05 12:20] hagitsegev opened #118 "I can't build unified-deb on 4.5 due to a machine-image issue"
https://jenkins.scylladb.com/view/scylla-4.5/job/scylla-4.5/job/unified-deb/4/
[code]

[2021-04-05 12:24] fruch commented on #118
@syuu1228 do you know of this issue ? as to why it's failing to build a debian package here ?

[2021-04-05 12:40] hagitsegev commented on #118
Not sure the issue is in this repo, but opened here, as the sympthom is here.

[2021-04-05 13:40] fruch commented on #118
sounds again related to the version string, hence it expect a source tarball, which we don't have:
https://stackoverflow.com/questions/61646468/build-a-debian-package-without-tarball

[2021-04-06 10:11] slivne opened #120 "alias centos user added linked to scylladm should also hard link /home/centos directory to /home/scylladm"
currently we add scylladm user and also add an alias to it centos

[code]

this change is not complete since we leave behind the old /home/centos directory - we should remove that directory and hard link it to /home/scyllaadm

alternatively - we can reuse the /home/centos directory and make the /home/scyllaadm a hard link to it

[2021-04-06 14:10] avikivity commented on #120
hard links don't work with directories. But a symlink can work.

[2021-04-06 19:09] fgelcer commented on #120
this is the 1st version i'm seeing this failure `4.5.dev-0.20210311.f6fc32c8d with build-id ba2a77c9d7aacdabd3ca87ebfec0b6b79ad91880`

it is on our longevity 200gb with TLS enabled. (this is the test config `longevity-200GB-48h-verifier-LimitedMonkey-tls.yaml`)

[2021-04-06 19:10] fgelcer commented on #120
if that is of any help

[2021-04-07 13:01] slivne commented on #120
@penberg / @syuu1228 this is blocking the cloud from using the new AMI's please prioritize

[2021-04-07 13:27] syuu1228 commented on #120
@slivne i will check it now.

[2021-04-08 07:54] #118 closed

[2021-04-12 06:53] yarongilor commented on #120
possibly reproduced similarly with an error of:
[code]
*Installation details*
Kernel version: `5.4.0-1035-aws`
Scylla version (or git commit hash): `4.6.dev-0.20210408.a8c90a5848`
Cluster size: 6 nodes (i3.4xlarge)
Scylla running with shards number (live nodes):
   longevity-tls-50gb-3d-master-db-node-670b5bf6-1 (13.48.190.14 | 10.0.1.195): 14 shards
   longevity-tls-50gb-3d-master-db-node-670b5bf

[2021-04-19 10:22] slivne opened #123 "an alias centos group is required as well for scyllaadm"
scyllaadm user creation is:

[code]

while we are fixing https://github.com/scylladb/scylla-machine-image/issues/120 - there is another issue related to aliasing groups

[code]

this is an causing automation scripts attempting todo ```chown centos:centos ...``` to fail
 ```chown centos:centos * chown: invalid group: ‘centos:centos’```

[2021-04-19 11:21] #120 closed

[2021-04-20 05:50] tzach commented on #54
@yaronkaikov what is left to do?
Will the Azure image be part of Scylla 4.5 release?
I need the relevant details for the download page, as we did for GCP.

[2021-04-20 05:55] yaronkaikov commented on #54
@tzach IT's not ready yet, i am working on the Scylla part (https://github.com/scylladb/scylla/issues/8325) which is under review at the moment.
It's not part of 4.5.
Once it's ready i will provide the relevant information

[2021-04-20 07:21] tzach commented on #54
I will be happy to get relevant info in advance, so I can start working on the download page.
I understand the name, ids etc might change later, and per release.

[2021-04-20 07:36] yaronkaikov commented on #54
@tzach no problem. once i get the Scylla part done, and will start working on machine image part, i will update you

[2021-04-21 08:48] slivne commented on #123
@syuu1228 / @penberg ping - please prioritize this

[2021-04-21 08:58] slivne opened #125 "scyllaadm user files are with root:root permissions needs to be updated"
file aws/ami/files/scylla_install_ami

[code]

We are copying files and we need to change the permissions `chown -R scyllaadm:scyllaadm /home/scyllaadm`

[2021-04-21 09:00] slivne commented on #123
master image is using

aws/ami/files/scylla_install_ami

[code]

need to make sure we also have a group alias created centos/ubuntu

[2021-04-25 20:41] #123 closed

[2021-05-10 06:04] mailmahee opened #131 "Publish Scylla Enterprise AMIs in AWS marketplace account"
we would require AMIs for Scylla enterprise , Monitoring as well as manager.

Can we publish the enterprise AMI to this AWS account as well as part of the release automation.

AWS account - 317759554165

Let me know if you need any additional information.

[2021-05-10 07:23] slivne commented on #131
- There is currently no manager AMI or monitor AMI (public one) - and it
should not block the marketplace (adaik)
- With regards to pushing to an additional account - we need more concrete
information

Do we need to copy it to a single region - if so which one ?
Do we need to copy it to all regions  ?

On Mon, May 10, 2021 at 9:04 AM vanguard_space ***@***.***>
wrote:

[2021-05-10 07:26] slivne commented on #131
Last this is the open source repo - all of this should be on the
enterprise repo - please close and open a new issue on the correct repo.

On Mon, May 10, 2021 at 10:23 AM Shlomi Livne ***@***.***> wrote:

[2021-05-19 08:22] #125 closed

[2021-05-19 09:47] syuu1228 opened #133 "aws: AMI image contains /root/.ssh/authorized_keys entry for Packer temporary SSH key"
Original issue was: scylladb/scylla-enterprise-machine-image#19

----

Seems like Packer AMI builder does not removed /root/.ssh/authorized_keys entry for Packer temporary SSH key.
Like this:
[code]

It likely not a security risk since Packer delete temporary SSH key after AMI building, and also the entry does not access shell (*1), but it better to remove.
(*1: It is limited allowed command to `"

[2021-05-19 11:44] tzach commented on #133
similar issue https://github.com/hashicorp/packer/issues/3775

[2021-05-20 06:07] #133 closed

[2021-06-07 11:34] shoshan commented on #125
@penberg Please port fix to 4.5
 chown skel files to scyllaadm:scyllaadm
Latest commit 0b684ba

in 4.5 test failed with
'mkdir: cannot create directory ‘/home/scyllaadm/.cassandra/’: Permission denied'

[2021-06-09 12:23] yaronkaikov opened #137 "Feature: Support AMI image based on arm architecture"
Recently we have added support in Scylla to build relocatable and packages on machines based on ARM. Let's add also support for machine image so we can use an arm based instances

[2021-06-10 05:55] yaronkaikov opened #138 "Azure image: scylla can't start due to missing AzureSnitch configuation"
In https://github.com/scylladb/scylla-machine-image/pull/109 (currently under review) we will add support for Azure image.

Today we support in Scylla both AWS and GCE snitch. Need to add also Azure snitch - https://github.com/scylladb/scylla/issues/8593

[2021-06-10 05:56] yaronkaikov commented on #138
/cc @penberg @slivne

[2021-06-10 06:07] penberg commented on #138
@yaronkaikov I think you mentioned that alternative solution to `AzureSnitch` would be to generate the snitch properties file in machine-image at instance startup?

[2021-06-10 06:09] yaronkaikov commented on #138
@penberg  yes, So we can do this , based on the information from the metadata output

[2021-06-10 11:07] penberg commented on #125
@shoshan Backported to 4.5

[2021-06-14 11:05] syuu1228 commented on #137
We have merged aarch64 AMI patch https://github.com/scylladb/scylla-machine-image/pull/89
And also rpm & deb patch https://github.com/scylladb/scylla/pull/7026

I just tried to build aarch64 AMI (Ubuntu) with latest master, it seems still working (but with unsupported instance mode).

test image is -> us-east-1: ami-0ef4b45acf55d8f82
[code]

[2021-06-14 13:59] slivne opened #140 "AWS Scylla Image - support T3 instances"
We have some support for T2 for development mode

T2 instances are  EOL and are becomming less avail on AWS

Need to consider which instance types need to be used instead of T2 (T3?)

[2021-06-16 09:45] #54 closed

[2021-06-18 09:18] amoskong opened #142 "permission issue of /home/scyllaadm/ on AMI"
### Description

I reported a permission in enterprise AMI, the issue had been fixed.
- https://github.com/scylladb/scylla-enterprise/issues/1684
- (permission issue of /home/scyllaadm/ on AMI #1684)

And the fix had been backported to scylla-machine-image/branch-4.5.  But the same problem still exists in rolling upgrade AMI (from 4.5.rc2 to 4.6.dev).

### Version:
Base AMI id: ami-01fb1ac7f271974

[2021-06-22 01:36] yangly0815 opened #144 "Why can scylla-server restart itself?"
I want to stop scylla-server and i execute "systemctl stop scylla-server", but a few minutes later, it will restart automatically. So how to stop scylla-server and it cannot restart itself until i re-execute the command "systemctl restart scylla-server".

Thanks!
[code]
Google Conversations: https://groups.google.com/g/scylladb-users/c/AUACcyHH21Q

[2021-06-23 15:10] roydahan commented on #142
@amoskong isn't it using 4.5.rc2 that was already promoted but without the fix?
Let's see if the issue still exist now that we promoted 4.5.rc3

[2021-07-12 05:01] penberg opened #150 "Remove AMI dependency to external services"
We currently install packages at start up time, which creates a AMI dependency to external services. Fix that by installing packages at AMI build time.

[2021-07-13 04:54] #150 closed

[2021-07-15 11:01] adambabik opened #152 "Unattended upgrades enabled by default"
When additional software is installed on Ubuntu-based Scylla machine images, one may hit the following problem:

[code]

Are unattended upgrades enabled by default due to some reason? What is the recommended way to disable it?

[2021-07-15 11:10] avikivity commented on #152
They're probably auto-enabled by Ubuntu.

We have two options:
- disable auto-updates
- disable auto-updates for scylla* packages only

I guess we can start with a global disable.

[2021-07-15 11:10] avikivity commented on #152
/cc @syuu1228

[2021-07-15 11:11] avikivity commented on #152
Updating scylla should be done deliberately, not automatically, since we need to go node by node and perform a graceful restart. Also need to leave the operator the possibility of downgrading if something foes goes wrong.

[2021-07-15 11:14] adambabik commented on #152
That's one problem, the second is that anyone automating nodes management and installing additional software like Scylla Manager Agent will need to handle this case.

[2021-07-16 05:01] yaronkaikov opened #154 "cloudformation script parameter - SGCluster : Security Groups ingress with an ipProtocol of -1"
https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/aws-properties-ec2-security-group-ingress.html

Adds an inbound rule to a security group.
An inbound rule permits instances to receive traffic from the specified IPv4 or IPv6 CIDR address range, or from the instances associated with the specified security group.

You specify a protocol for each rule (for example, TCP). For TCP and UDP,

[2021-07-16 05:06] yaronkaikov opened #155 "cloudformation script parameter - Subnet : EC2 Subnet should not have MapPublicIpOnLaunch set to true"
AWS::EC2::Subnet : EC2 Subnet should not have MapPublicIpOnLaunch set to true

Severity : Reccommended

[2021-07-16 05:07] yaronkaikov opened #156 "cloudformation script parameter - VPC : VPC should have a flow log attached"
AWS::EC2::VPC - https://docs.aws.amazon.com/vpc/latest/userguide/flow-logs.html

Severity: Reccommended

[2021-07-16 05:10] yaronkaikov opened #157 "Cloudformation script parameter - VPC : assign the CIDR range for the new VPC"
AWS::EC2::VPC The user should be able to asign the CIDR range for the new VPC, Create a parameter asking this from the user

Severity: Critical

[2021-07-16 05:11] yaronkaikov opened #158 "cloudformation script parameter - SGAdmin : Missing egress rules"
Missing egress rule in security group means CloudFormation will automatically add an outbound rule to allow all traffic outbound. Make this explicit by adding egress rule if it is the desired configuration. No need to parametize it.

https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/aws-properties-ec2-security-group.html#aws-properties-ec2-security-group--examples--Remove_Default_Rule

[2021-07-16 05:13] yaronkaikov opened #159 "Cloudformation script parameter - Mappings : Add an entry in the map for every region where your product should be available"
Add an entry in the map for every region where your product should be available. The AMI should be the same as the one for us-east-1

Severity: Critical

[2021-07-16 05:15] yaronkaikov opened #160 "Cloudformation script parameter - SGUser: Missing egress rule in security group"
Missing egress rule in security group means CloudFormation will automatically add an outbound rule to allow all traffic outbound. Make this explicit by adding egress rule if it is the desired configuration. No need to parametize it.

https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/aws-properties-ec2-security-group.html#aws-properties-ec2-security-group--examples--Remove_Default_Rule

[2021-07-16 05:16] yaronkaikov opened #161 "Cloudformation script parameter - SGCluster : Missing egress rule"
Missing egress rule in security group means CloudFormation will automatically add an outbound rule to allow all traffic outbound. Make this explicit by adding egress rule if it is the desired configuration. No need to parametize it.

https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/aws-properties-ec2-security-group.html#aws-properties-ec2-security-group--examples--Remove_Default_Rule

[2021-07-18 08:46] yaronkaikov commented on #159
@mailmahee @ealonso63  can you explain this please? according to the documentation in https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/mappings-section-structure.html , we can't set a region to a specific AMI id since it is something the user need to provide.

Or maybe i miss understood what is need to be done here. please clarify

[2021-07-18 08:51] yaronkaikov commented on #160
duplicate https://github.com/scylladb/scylla-machine-image/issues/161 - opened my mistake. closing

[2021-07-18 08:51] #160 closed

[2021-07-18 08:52] #158 closed

[2021-07-19 10:00] nuivall commented on #152
They way I understand it this:
[code]
it means only some distro packages are subject to this automated update.

[2021-07-19 11:22] #154 closed

[2021-07-19 16:16] #137 closed

[2021-07-20 12:41] yaronkaikov commented on #137
@syuu1228 https://github.com/scylladb/scylla/pull/9064 this patch should add those ARM based instances to our supported list

[2021-07-21 11:01] #152 closed

[2021-07-29 05:33] #161 closed

[2021-07-29 06:36] slivne opened #170 "Enable image to work with only the root disk for AWS t2 instances"
This was working in past images

The root disk is now set to 30GB it has enough space for both the swap and the data

I tested it yesterday and found what needs to be done to make it working - in a hack way

The main issue is that we now seem to set performance setting - although the instance is t2 and should run in developer-mode

update /etc/default/scylla-server
[code]

[code]

I expect some of

[2021-07-29 06:36] slivne commented on #170
@penberg this is the non blocking issue :)

[2021-08-03 07:57] slivne opened #171 "GCP Image: Unattended upgrades enabled by default"
#152 fix the issue for AWS images - we have the same issue in GCP images using ubuntu 20.04 as the base.

[2021-08-03 07:58] slivne commented on #171
@syuu1228 the fix for 152 was in aws code - we need to fix the gcp image as well - please provide a fix.

Thanks

Shlomi

[2021-08-03 08:59] yaronkaikov opened #172 "Cloudformation script parameter - SGAdmin : Security Groups found with CIDR open to world on ingress"
Security Groups found with CIDR open to world on ingress. Does this need to be opened to the world? Is there no use case where the customer wants to control this? Even if it needs to be opened to the world, please parameterize it and don't set a default parameter value. In the parameter description, ask the customer to specify CIDR that they desire. For example, "Please set CIDR to x.x.x.x/32 to a

[2021-08-03 09:01] yaronkaikov opened #173 "Cloudformation script parameter - SGUser: Missing egress rule in security group"
Missing egress rule in security group means CloudFormation will automatically add an outbound rule to allow all traffic outbound. Make this explicit by adding egress rule if it is the desired configuration. No need to parametize it.

https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/aws-properties-ec2-security-group.html#aws-properties-ec2-security-group--examples--Remove_Default_Rule

[2021-08-03 09:03] yaronkaikov opened #174 "cloudformation script parameter - SGAdmin : Missing egress rules"
Missing egress rule in security group means CloudFormation will automatically add an outbound rule to allow all traffic outbound. Make this explicit by adding egress rule if it is the desired configuration. No need to parametize it.

https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/aws-properties-ec2-security-group.html#aws-properties-ec2-security-group--examples--Remove_Default_Rule

[2021-08-03 10:39] #173 closed

[2021-08-03 10:39] #174 closed

[2021-08-03 10:41] #172 closed

[2021-08-03 23:21] syuu1228 commented on #171
@slivne I think we should fix this issue by https://github.com/scylladb/scylla-machine-image/pull/132 (Merging AWS/GCP/Azure script into single script), because we are just trying to merge the PR.

[2021-08-04 05:54] yaronkaikov commented on #138
Fixed by: https://github.com/scylladb/scylla/pull/9084

[2021-08-04 05:54] #138 closed

[2021-08-09 05:05] penberg commented on #171
@syuu1228 Let's fix this for GCE for easier backporting, and then do #132 after that.

[2021-08-11 09:56] #157 closed

[2021-08-11 10:50] benipeled opened #180 "Cloudformation: re-order and group the cfn form parameters"
Should be done with `AWS::CloudFormation::Interface`

[2021-08-11 11:30] slivne commented on #156
I don't think we should implement this

This involves adding IAM roles access and thats a huge issue in itself - most compacnies are very restrictive with that - the outcome of this will be that less people can run the CloudFormation.

In my view the functionality gain provided here is very little compared to the limitation in usage we may have as we are adding a requirement to allow the CF runner

[2021-08-11 12:47] benipeled opened #181 "cloudformation: assign node private IP accoring to the CIDR param"
On #178 we added the option to a custom CIDR but the node IPs are still hard-coded (x.x.x.10, x.x.x.11, x.x.x.12 etc.) following CFN limitation,

This issue is created mainly for tracking in case we'll find a solution/new-feature by CFN.

Migrated to Jira: [SMI-55](https://scylladb.atlassian.net/browse/SMI-55)

[SMI-55]: https://scylladb.atlassian.net/browse/SMI-55?atlOrigin=eyJpIjoiNWRkNTljNzYxNj

[2021-08-12 07:06] #180 closed

[2021-08-12 10:07] #171 closed

[2021-08-14 02:38] syuu1228 opened #184 "GCE: GCE build often break with "Error creating instance: googleapi: Error 409: The resource 'projects/scylla-images/zones/xxxx/instances/scylla-xxxx' already exists''"
I'm getting `Error creating instance: googleapi: Error 409: The resource 'projects/scylla-images/zones/xxxx/instances/scylla-xxxx' already exists` repeatedly.

Probably one reason is we run `packer build -force -on-error=abort`:
`-on-error=abort` means packer build instance will stay alive when build failed.
`-force` should remove if the instance already exists, but maybe it fails to remove.
https

[2021-08-20 02:24] #184 closed

[2021-08-25 13:03] juliayakovlev opened #189 "Test failed because of 'elrepo' repository URL has been changed for CentOS7"
AMI `ami-0d5aee59acfb93c8f)` (version 4.0.11) problem:

`elrepo` repository URL has been changed for CentOS7. Due this change `yum update` failes:
[code]

Failed test: https://jenkins.scylladb.com/view/nexts/job/enterprise-2020.1/job/rolling-upgrade/job/rolling-upgrade-ami-test/40/console

[2021-08-26 05:46] yaronkaikov opened #190 "Azure:failed to start scylla-machine-image service during image build"
During azure build we keep getting failures every few builds with the following error:
[code]
Happend in https://jenkins.scylladb.com/view/master/job/scylla-master/job/azure-image/32/consoleFull and also https://jenkins.scylladb.com/view/master/job/scylla-master/job/azure-image/24/console

@syuu1228 when we saw this same error in https://github.com/scylladb/scylla-machine-image/pull/132 you mentio

[2021-08-27 22:53] syuu1228 opened #191 "gce: CentOS8 build fails because of missing /usr/bin/python"
After merging 999b8af, CentOS8 build on GCE failing because it missing /usr/bin/python.
Just like Ubuntu 20.04, we need to set alternatives for CentOS8.
[code]

[2021-08-27 22:59] syuu1228 opened #192 "gce: CentOS8 build fails because of missing python3-pyyaml"
Seems like we mistakenly added non-standard modules on scylla_install_image at 8915e3e.
Since the script is written for installing packages, the script itself should not have additional dependencies except python interpreter.
[code]

[2021-08-27 23:42] syuu1228 commented on #190
@yaronkaikov It unlikely related with #132, more like debian package build problem, but I haven't able get detail of the problem for now because I couldn't reproduce it.

I sometimes see this error when I work on packaging, it occurs usually when jmx/tools/python3 packages are not exactly same version compare to scylla metapackage.
It can happen on following steps:
 1. build everything including j

[2021-08-28 04:15] syuu1228 commented on #189
elrepo-archive.repo is created by this commit: https://github.com/scylladb/scylla-machine-image/commit/708443337782b42f7c38dbe9c383a7d68d731f78
The commit is already reverted on recent releases, but this issue is about upgrading from older AMI, the file is still exists.
I guess we should document to suggest removing /etc/yum.repos.d/elrepo-archive.repo and then upgrade latest kernel-ml kernel.

se

[2021-08-29 07:23] #191 closed

[2021-08-29 07:25] #192 closed

[2021-08-29 11:15] slivne commented on #189
Thanks so this is not a blocker
 - lets test that the solution provided works
 - we need a knowledgebase / faq / release notes so this will be fixed

[2021-08-30 05:59] #159 closed

[2021-08-30 07:08] penberg commented on #170
@syuu1228 Let's make the `t1` instances properly supported by the AMI then.

[2021-08-30 08:55] penberg commented on #189
The following steps unblock the upgrade for me:

[code]

@syuu1228, can you please confirm that this is the kind of workaround you were thinking of?

[2021-08-30 11:37] syuu1228 commented on #170
@slivne Isn't it we decided that Scylla AMI requires at least one additional disk to run?
The official document says:
https://www.scylladb.com/download/?platform=aws#open-source
_The Scylla AMI requires at least two instance store volumes. The Scylla data directory will be formatted with XFS when the instance first boots. Scylla will fail to start if only one volume is configured._

We discussed t

[2021-08-30 15:20] syuu1228 commented on #189
@penberg Yes, suggested commands should fix the problem.
But even the problem fixed, the environment still has outdated kernel we used to pinning for workaround.
To resolve this, better to run
'yum --enablerepo=elrepo-kernel install kernel-ml' and 'reboot'.

[2021-09-01 18:33] syuu1228 opened #196 "Latest build of CentOS7 AMI cannot login via SSH"
On latest build of CentOS7 AMI could not login via SSH, and getting dracut error on system log.
I got this when I build latest next branch on local environment, and also on jenkins:
https://jenkins.scylladb.com/view/master/job/scylla-master/job/releng-testing/job/ami/717/
Looks like some failure happens on initramfs stage, can be related with kernel-ml package.

[code]

[2021-09-01 18:36] syuu1228 commented on #196
To make sure it related with kernel-ml package, I tried to generate normal kernel AMI image by deleting `yum -y --enablerepo=elrepo-kernel install kernel-ml` line from scylla_install_image, it just works.

[2021-09-01 19:20] syuu1228 commented on #196
I guessed latest version of  kernel-ml package causes the error, because our AMI build worked exactly same code in few days ago.
So I tested to build an AMI with older kernel-ml package, like this:
[code]
It just worked, so I think the error caused by latest version of kernel-ml package, kernel-ml-5.14.0-1.el7.elrepo.x86_64.

[2021-09-01 20:41] syuu1228 commented on #196
Maybe we need to similar with 708443337782b42f7c38dbe9c383a7d68d731f78 until we found a solution, or fixed the issue on next version of the package.

[2021-09-02 16:56] hagitsegev opened #197 "packer/scripts/build_deb_image.sh - enable using without the old soft link scripts"
On https://github.com/scylladb/scylla-machine-image/commit/a7eac3d48bd3791d6f4cb6b24648e287248bbfb1 Takuya "merged" a few similar scripts that use packer to buile images (AMI, GCE, Azure) into one.

I want to set pkg to use the merged script.
This requires also some work on machine-image side.
Currently there are "soft links" instead of the old scripts.
These soft links assume that you run under t

[2021-09-03 01:53] syuu1228 commented on #196
I could reproduce this also on CentOS7 AMI (NOT Scylla AMI, CentOS official one).
So it is highly likely not our AMI problem but the kernel package problem.
[code]

[2021-09-03 02:00] syuu1228 commented on #196
@hagitsegev @yaronkaikov Do you see this issue on Jenkins AMI builds?
It only CentOS7 issue but can happen any versions of Scylla AMI builds.

[2021-09-03 02:10] syuu1228 commented on #196
I guessed it can be fix by re-generating initramfs, so I tried
[code]
but still same error happens.

[2021-09-03 02:10] syuu1228 commented on #196
@avikivity do you have any idea?

[2021-09-05 17:46] #197 closed

[2021-09-06 09:34] syuu1228 commented on #196
New version of kernel-ml package released (5.14.1-1.el7.elrepo), so I tested it on CentOS official AMI again,
but same result:
[code]

[2021-09-06 11:52] #196 closed

[2021-09-13 05:58] syuu1228 opened #204 "scylla_image_setup runs apt-get install on instance startup time"
After we merged 3c49e6df1a9224a063dde5e60e4e49ae976528a0, we run apt-get install on instance startup time.
This is not good, we should install all packages on AMI building time.
I think the fix was mistake, we at least needed to install required packages on scylla_install_image (AMI building time).

[code]

[2021-09-13 07:37] syuu1228 commented on #204
Related: scylladb/scylla#9309

[2021-09-13 20:11] #204 closed

[2021-09-27 12:26] gnumoreno opened #210 "[AWS Cloudformation] Default value 0.0.0.0/0. This open the Ingress to the world by default. Please delete the default value."
Default value 0.0.0.0/0. This open the Ingress to the world by default. Please delete the default value.

[code]

[2021-09-27 12:29] gnumoreno opened #211 "[AWS Cloudformation] Security Groups found with CIDR open to world on ingress"
Security Groups found with CIDR open to world on ingress for IPv6. Does this need to be opened to the world? Is there no use case where the customer wants to control this? Even if it needs to be opened to the world, please parameterize it and don't set a default parameter value. In the parameter description, ask the customer to specify CIDR that they desire. Let the customer have more control and

[2021-09-27 12:31] gnumoreno opened #212 "[AWS Cloudformation] Join list of singular function or string for Resources/Node0/Properties/NetworkInterfaces/0/PrivateIpAddress/Fn::Join"
Join list of singular function or string for Resources/Node0/Properties/NetworkInterfaces/0/PrivateIpAddress/Fn::Join

### For all nodes:
[code]

[2021-09-27 12:33] gnumoreno opened #213 "[AWS Cloudformation] Security Groups ingress with an ipProtocol of -1 found."
Security Groups ingress with an ipProtocol of -1 found. Do you need all protocols (tcp, udp, icmp, or icmpv6)?

[code]

[2021-09-27 12:35] gnumoreno opened #214 "[AWS Cloudformation] Caution: password authentication isn't enabled by default"
"Caution: password authentication isn't enabled by default". Can you activate the password per default and set it to the instance ID? You can get the instance id from the metadata. Take a look at the following link and just add instance-id at the end of the meta-data url. https://docs.aws.amazon.com/AWSEC2/latest/UserGuide/instancedata-data-retrieval.html#instance-metadata-ex-2

[2021-09-27 12:51] gnumoreno commented on #156
@yarongilor @slivne

Can you guys provide more clarity on this? Is this something from the documents or we tested and found it needs IAM? Is it because of [DeliverLogsPermissionArn](https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/aws-resource-ec2-flowlog.html#cfn-ec2-flowlog-deliverlogspermissionarn)?

[2021-09-27 16:04] syuu1228 opened #215 "GCE: scylla_image_setup does not detect persistent disks"
On GCE, we currently does not support persistent disks, scylla_image_setup says "No data disks found" even the disk attached:
[code]
We want to support it just like EBS disks on EC2, even we don't recommend to use it for data disks.

[2021-09-29 06:09] benipeled commented on #156
FlowLogs saves the logs in one of two: CloudWatch log-group / S3 bucket,

In order to allow FlowLog to access a CloudWatch log-group, the users needs to create a IAM rule,
which of course requires a high level of permissions,

The option to use s3 bucket doesn't require IAM creation but it's less efficient to
keep logs in s3 without cloudwatch's analytics capabilities, so I'm not sure how
much dem

[2021-09-29 11:51] #210 closed

[2021-09-29 12:17] benipeled commented on #211
@gnumoreno  Is `ipv6` a marketplace-requirement (or similar) that it is important for us to allow it?
If not, we might want to avoid it since another parameter (`PublicAccessCIDRv6`) will complex the flow.
we should keep the form as simple as we can.

PS> it's not about adding one more param, it's about adding this non-require and another one later etc.

[2021-09-29 13:38] yaronkaikov commented on #212
@gnumoreno please explain , what is the problem with what we are doing?

[2021-09-29 13:52] syuu1228 opened #218 "Azure: scylla_image_setup does not detect additional data disks"
Exactly same issue as #215, but this one is for Azure.
We currently does not support additional data disks, scylla_image_setup says "No data disks found" even the disk attached.
We just support ephemeral Local SSD on Ls instance types.
Like EBS disks on EC2, we should make it usable even we don't recommend to use it.

[2021-09-29 16:58] gcarmin commented on #211
@benipeled @yaronkaikov  - this is a critical issue so it's a blocker for marketplace.
thanks.

[2021-09-29 19:33] #211 closed

[2021-09-30 09:53] gcarmin commented on #212
@yarongilor - I've just got the following update from our AWS technical resource:
_The scanner is reporting that Join function is not properly configured. I took a close look to it and I couldn’t find any error either. I switched the order of the UserData and NetworkInterfaces tags and the error is no longer being reported.

I believe that some escaped characters in the UserData tag is confusing t

[2021-09-30 09:53] #212 closed

[2021-09-30 11:46] yaronkaikov commented on #214
@gcarmin Where did you guys see this error?

[2021-10-03 07:38] slivne opened #221 "Set the right default snitch: Ec2MultiRegion for AWS"
When installing Scylla on AWS, the default snitch should be Ec2MultiRegion.
googlecloudsnitch for GCP.

[2021-10-03 07:59] slivne commented on #204
@yaronkaikov we need backports for all associated to 4.5 / 4.4 if the issue is fixed.

[2021-10-04 13:10] gcarmin commented on #213
@yaronkaikov  do we really needs to set "all protocol" in:
`IpProtocol: '-1'`
can we just open tcp/udp?

[2021-10-04 15:58] yaronkaikov commented on #213
@gcarmin We can set it for tcp or udp or both. Just let us know which range we should enable, since this is a mandatory value when specifing tcp or udp

[2021-10-04 17:58] gcarmin commented on #213
@yarongilor  please follow our official documentation on the require port and protocols:
https://docs.scylladb.com/operating-scylla/admin/#id6

[2021-10-04 18:47] yaronkaikov commented on #213
@gcarmin You keep tagging the wrong Yaron ;-)

[2021-10-04 18:48] yaronkaikov commented on #213
Ok, so based on that we only need to enable tcp

[2021-10-05 09:52] #213 closed

[2021-10-10 06:31] #215 closed

[2021-10-10 10:46] hagitsegev opened #230 "Images (GCE, AMI, Azure): Align label/tag names"
We have similar tags/labels on the different images, defined on packer/scylla.json.
On azure and AMI: The tag/labels are camel case.
On GCE, they are with underscores.

AMI and Azure (except for the user_data)
[code]
GCE:
[code]

Align all to use camel case.

In addition, on GCE we added
build-id and operating-system on #169. Done with dashes, due to QA request.
Need to align them on SCT too: http

[2021-10-12 14:55] enaydanov commented on #230
CamelCase is not possible for GCE: https://cloud.google.com/compute/docs/labeling-resources#requirements

[2021-10-12 15:51] hagitsegev commented on #230
Hmmm... only lowercase for GCE...
We need to think about some good solution for all, if possible. Maybe underscores?
AMI - Looks like yes: https://docs.aws.amazon.com/AWSEC2/latest/UserGuide/Using_Tags.html#tag-restrictions
Azure -  Looks OK. https://docs.microsoft.com/en-us/azure/azure-resource-manager/management/resource-name-rules
GCE, as specified on above link - OK.

[2021-10-17 23:42] whatsfordinner opened #234 "scylla-server.service fails when start_scylla_on_first_boot param is set to false instead of being stopped"
## Brief Description of Issue

**Found in:** Scylla 4.3.2 AMI but I suspect it extends to all generated images

When the `start_scylla_on_first_boot` param is set to `false` in user data what actually happens is [it touches a file](https://github.com/scylladb/scylla-machine-image/blob/scylla-4.3.2/common/scylla_configure.py#L144) which [`scylla_prepare` looks for](https://github.com/scylladb/scyll

[2021-10-18 18:04] syuu1228 opened #235 "GCE: Cannot login to Ubuntu based image"
With my account in GCE, I could not able to login to Ubuntu based image, such as scylla-4-5-0 and test builds of master branch.
It causes `Permission denied (publickey)`, seems like SSH public key does not transferred to the instance.
I tried to investigate this by using serial console, I found that google-guest-agent.service is not loaded, which is required to transfer SSH key:
[code]
After I run

[2021-10-24 05:55] slivne opened #238 "Scylla machine Image support GCP e2 instances"

[2021-10-26 18:02] #235 closed, assigned to nobody

[2021-10-27 08:24] gcarmin opened #240 "Seeting up some system tables to use NetworkTopologyStrategy"
Hi,
Following several cases in customer environment where the customer was not aware/notice the need to change `simplestrategy` to `NetworkTopologyStrategy` when adding a 2nd DC for `system_distributed`, `system_traces` and `system_auth` I suggest to change them on the creation of the cluster.
Also -they need to be replicated with he number on nodes in each DC.
for example:
`ALTER KEYSPACE system_

[2021-10-27 08:40] #240 closed, assigned to nobody

[2021-10-28 11:34] syuu1228 opened #241 "GCE: login prompt says "ScyllaDB is active." even scylla-image-setup still running"
Not sure this is only occurs on GCE or not, but at least on GCE "ScyllaDB is active." on login prompt does not mean scylla-server is started.
Even nodetool causes connection refused, the login prompt still says it's active.
I think scylla_login logic has a bug to detect current status of scylla-server.

[code]

[2021-10-31 08:57] tzach commented on #238
@slivne is this for Scylla Cloud as a t2 equivalent?  other?

[2021-11-13 00:34] syuu1228 opened #243 "GCE: GCE image can use persistent disks without any warning message"
On AWS, when we launch our AMI with EBS disks only, it will show warning message on login prompt, and don't run scylla_io_setup automatically.
The warning message says:
[code]
It is because the configuration is not optimal one, and iotune may takes 5-10min to complete, if we run automatically it will hard to understand why scylla-server.service does not start.

However, on GCE image behavior is di

[2021-11-16 10:58] bentsi opened #246 "script 'postinst' has bad permissions 1363"
Version Commit: 1776bfc - (HEAD -> master, upstream/master) release: prepare for 4.7.dev (8 days ago) <Yaron Kaikov>
[code]

it looks like we build Ubuntu deb on Fedora
![image](https://user-images.githubusercontent.com/5269241/141973324-3264e6b9-cf08-4fad-9173-4dfa4db1c854.png)

[2021-11-16 11:40] #246 closed

[2021-11-16 22:34] #241 closed

[2021-11-20 17:55] syuu1228 opened #249 "packer/build_image.sh: cause error in print_usage"
print_usage() in packer/build_image.sh has strange backquote, it causes command not found:
[code]

[2021-11-21 06:37] #249 closed

[2021-11-21 06:38] #243 closed

[2021-11-22 05:56] benipeled opened #252 "cloudformation: first instance should be node1"
Currently, the first instance is created as node0.

[2021-11-22 10:01] syuu1228 commented on #235
Still not sure why the error happened, but I found that we cannot reproduce this issue on latest versions of scylla & scylla-machine-image & packer & GCE Ubuntu image.
So I think we can revert the workaround now.

[2021-11-29 09:40] syuu1228 commented on #140
@slivne @yaronkaikov T3 instances should be able to run in developer mode without error after we merged https://github.com/scylladb/scylla/commit/969c4258cf4a9c9bfdfb805050e61438cecbe932.

Note: even with developer mode, we cannot run our AMI without additional disks.
At least need to attach single EBS for /var/lib/scylla.

To force running scylla without additional disks, we need following operat

[2021-11-29 10:06] syuu1228 opened #255 "Login prompt message is wrong when no additional disks found"
When we launch master AMI without additional disks on EBS only instance type, we get warning message with says
`To continue startup ScyllaDB on this instance, you need to attach additional disks, then run 'sudo scylla_io_setup' then 'systemctl start scylla-server'.`
But this is wrong, we can't run scylla_io_setup without format & mount the volume.

[code]

[2021-11-29 10:07] syuu1228 commented on #140
I found another problem related with no additional disks configuration: #255

[2021-11-29 10:08] syuu1228 commented on #255
What we need to do is:
[code]
scylla-image-setup will automatically format & mount the volume, then we need to run scylla_io_setup manually.

[2021-11-29 10:13] yaronkaikov commented on #140
@syuu1228 I have just started a `T3` instance with additional 100gb disk . and it's failing with  `t3 is not eligible for optimized automatic tuning!`

Although when i run `df -kh` i do see this mounted disk
[code]

[2021-11-29 10:43] syuu1228 opened #256 "On root disk only enviroment, scylla-server.service does not start even specified development mode"
Because scylla-image-setup.service failed at constructing RAID volume, scylla-server fails with "Dependency failed" even in developer mode.
[code]

To avoid this we requires to run:
[code]

I guess we should not abort scylla_image_setup even failed to detect additional disks, but show warning message on login prompt.

[2021-11-29 10:44] syuu1228 commented on #256
Related #140

[2021-11-29 10:44] syuu1228 commented on #255
Related #140

[2021-11-29 10:44] syuu1228 commented on #255
Related #256

[2021-11-29 10:50] syuu1228 commented on #255
If we decided to not abort scylla_image_setup even no additional disks found (#256), we probably need to run scylla_create_devices instead of restart scylla-image-setup.service.

[2021-11-29 21:38] roydahan commented on #140
I don't understand something, do we have anywhere any special treatment for t2?
t3 should behave exactly the same as t2.

[2021-12-01 12:18] slivne opened #258 "Add support for AWS i4 instances"

[2021-12-01 23:51] syuu1228 opened #259 "GCP: login prompt is broken on latest master"
Login prompt is broken on GCP:
[code]

[2021-12-02 21:27] #256 closed

[2021-12-02 21:27] #255 closed

[2021-12-06 08:50] syuu1228 commented on #258
Merged https://github.com/scylladb/scylla/pull/9730 and https://github.com/scylladb/scylla-machine-image/pull/261, can close now

[2021-12-06 08:55] syuu1228 commented on #238
Since E2 instance type does not have local SSD, our machine image can run Scylla but show following message on login prompt:
[code]

[2021-12-06 08:57] syuu1228 commented on #238
BTW we have a bug on login prompt for GCP, need to fix https://github.com/scylladb/scylla-machine-image/issues/259

[2021-12-06 09:02] #258 closed

[2021-12-06 09:39] syuu1228 commented on #140
@roydahan No, we don't need to do something special for T2 and T3.

[2021-12-13 15:17] aleksbykov opened #265 "Add support of --raid-level parameter"
Commit  https://github.com/scylladb/scylla/commit/42fd73d0332d034809c6cd228785bff82e1845aa added support to create
raid 5 by passing parameter --raid-leve to scylla_setup and scylla_raid_setup.

Need add support SMI scripts to create different raid configuration with aws ami and gce images

[2021-12-14 10:18] yaronkaikov commented on #140
@slivne Yes

[2021-12-14 13:23] #140 closed

[2021-12-15 10:30] ricardoborenstein opened #267 "root low disk space - cache using a lot of space"
On a customer monitoring the Active Alert raised and alert on root disk space. Once connected into the nodes we could identify that swap is using 16G

It should be cleaned

[2021-12-15 10:30] ricardoborenstein opened #268 "root low disk usage - snap using a lot of space"
On a customer monitoring the Active Alert raised and alert on root disk space. Once connected into the nodes we could identify that snap is using 1.5GB

If we don't use snap it can save up to 1.5GB

[code]

[2021-12-15 10:30] ricardoborenstein opened #269 "root low disk space - debug symbols using a lot of space"
On monitoring the Active Alert raised and alert on root disk space. Once connected into the nodes we could identify some waste that could be deleted to save up space

[code]
[code]

[2021-12-18 20:39] #259 closed

[2021-12-20 07:02] syuu1228 opened #270 "scylla-image-post-start.service fails when userdata is not specified"
Looks like scylla-image-post-start.service fails when userdata is not specified.
This won't break scylla-server.service since the service start after scylla-server, but better to fix.

[code]

[2021-12-20 08:24] syuu1228 opened #271 "gce: does not able to start packer build when image name is longer than 63 characters"
When we specified --debug or use long string in build-id, image name may reaches maximum length and fails to build.

[code]

[2021-12-20 08:25] syuu1228 commented on #271
I guess we should shorten image name, and/or strip generated image name to 63 chars.

[2021-12-21 07:51] yaronkaikov commented on #238
@syuu1228 So we can close this, right?

[2021-12-21 09:02] syuu1228 commented on #238
@yaronkaikov Yes.

[2021-12-21 09:13] #238 closed

[2021-12-21 11:01] benipeled opened #274 "[cloudformation] the public-ip isn't printed to the 'output'"
In case of `EnablePublicAccess = true` I expect the public-ip to be printed to the output, but it's not.

**Outputs:**

![image](https://user-images.githubusercontent.com/31824530/146919080-79337148-4c46-407f-8e73-88dab2013191.png)

**Parameters:**

![image](https://user-images.githubusercontent.com/31824530/146919394-e573d6a5-2dd5-4049-8180-68797a1f0bb2.png)

Migrated to Jira: [SMI-92](https://sc

[2021-12-22 10:07] slivne commented on #267
@ricardoborenstein its not clear what should be cleared and what you are not happy with

- please provide `df` of the node provide a full description of the issue
- please describe the issue not what you want changed

[2021-12-22 10:09] slivne commented on #267
please provide the image id and which scylla version you are running

[2021-12-22 10:09] slivne commented on #267
I am closing the other issues https://github.com/scylladb/scylla-machine-image/issues/267 , https://github.com/scylladb/scylla-machine-image/issues/268 they are not informational a well

[2021-12-22 10:10] slivne commented on #268
we will handle on https://github.com/scylladb/scylla-machine-image/issues/267

[2021-12-22 10:10] #268 closed

[2021-12-22 10:10] slivne commented on #269
this will be handled in https://github.com/scylladb/scylla-machine-image/issues/267

[2021-12-22 10:10] #269 closed

[2022-01-17 11:31] syuu1228 opened #285 "swap creation slows down scylla-image-setup.service"
Swap creation on scylla-image-setup.service is too much time, it slows down startup of scylla-server.service on our IaaS image.
I think we should pre-allocate swapfile in the image build, instead of create it on startup time.
But we don't know user will run the image on which instance type, we cannot configure swapfile size from current memory size, need to hardcode the swapfile size instead.
And

[2022-01-17 11:36] syuu1228 commented on #285
Since we only have 30GB for root volume (https://github.com/scylladb/scylla-machine-image/blob/next/packer/scylla.json#L50), I think we can apply "50% of diskfree" rule:
https://github.com/scylladb/scylla/blob/master/dist/common/scripts/scylla_swap_setup#L67

I guess it around 15G or bit less.

[2022-01-17 11:39] syuu1228 commented on #285
Note: We should avoid auto-calculate swapfile size from memory size, because if we build our image in very small instance, swapfile can be small.
Need to specify --swap-size or add new option to force applying "50% of diskfree" rule.

[2022-02-01 15:19] fruch opened #294 "scylla_cloud.py doesn't import glob"
[code]

* db-cluster - https://cloudius-jenkins-test.s3.amazonaws.com/8ab79bc2-0426-4d43-9bc5-b24861ced0af/20220201_145945/db-cluster-8ab79bc2.tar.gz
* sct - https://cloudius-jenkins-test.s3.amazonaws.com/8ab79bc2-0426-4d43-9bc5-b24861ced0af/20220201_145945/sct-runner-8ab79bc2.tar.gz
* https://jenkins.scylladb.com/job/scylla-master/job/artifacts/job/artifacts-gce-image-test/379/

[2022-02-01 21:22] syuu1228 opened #297 "cloud instance classes have different APIs even doing same thing"
This issue moved from https://github.com/scylladb/scylla/issues/9742 since we move cloud instance APIs to scylla-machine-image.

----

Currently, cloud instance classes does not use same method name to do same thing.
For example, we have following code to do getting additional disks for RAID:
[code]

I think we should define abstract class and add common API in it, inherit the base class from all

[2022-02-01 21:56] syuu1228 opened #298 "scylla_cloud_io_setup should be implemented as library, not executable"
Since we only call scylla_cloud_io_setup from `cloud_instance.io_setup()`, it should be implemented as library, not executable.
It large to merge into io_setup() method, probably we need to move scylla_cloud_io_setup to lib/io_setup.py and make it callable from io_setup().

[2022-02-01 22:27] syuu1228 opened #299 "Move scylla_coredump_setup to image building time"
Similar with #285, we can move scylla_coredump_setup to image building time except enabling bind-mount RAID volume to /var/lib/systemd/coredump.
Unlike swapfile creation, this probably won't increase boot up time significantly, but still we should prepare every possible things in building time.

[2022-02-02 09:59] #294 closed

[2022-02-14 11:46] #297 closed

[2022-02-14 19:42] #298 closed

[2022-02-15 12:29] vponomaryov opened #303 "scylla image setup fails with ValueError"
_Installation details_
Kernel version: `5.11.0-1028-aws`
Scylla version (or git commit hash): `5.1.dev-0.20220207.c020ed738 with build-id 9e5a8c9f13250e7c84efa1ed1d2e61f82eec0e4a`
Cluster size: 3 nodes (i3.4xlarge)
OS (RHEL/CentOS/Ubuntu/AWS AMI): `ami-059369771bc43bf3e` (aws: eu-east-1)

Scylla running with shards number (live nodes):
perf-regression-latency-perf-v8-db-node-dbfa9cac-1 (3.85.142.2

[2022-02-17 07:19] fruch commented on #303
@syuu1228 can you take a look on this one ?

[2022-02-21 02:06] syuu1228 commented on #303
I sent fix for `ValueError` issue on scylla_sysconfig_setup:
https://github.com/scylladb/scylla/pull/10107

But I think root cause of the error is this one, not ValueError on scylla_sysconfig_setup:
[code]
And it's strange, I wrote this code (calling systemd_unit) but I haven't merged it yet:
https://github.com/scylladb/scylla-machine-image/pull/301
And even I already fixed the bug when I publishe

[2022-02-21 08:11] syuu1228 opened #307 "GCE: scylla_image_setup causes "'gcp_instance' object has no attribute 'getEphemeralOsDisks'" error"
Seems like 5f66a515ba48f880b9fe4fdf5fc59518d004cdd7 causes error on GCE:
[code]

[2022-02-21 10:47] #307 closed

[2022-02-21 20:03] #285 closed

[2022-02-22 17:49] fee-mendes opened #311 "AWS - Scylla Version 4.5.3 AMI fails during scylla-image-setup.service"
**AMI**: `ami-0c6e0369e5fcb5564`
**Region/AZ**: `us-east-1a`
**Number of nodes**: 3
**InstanceType**: i3.2xlarge

**Description**:
Scylla 4.5.3 AMI fails within `scylla-image-setup.service` with `Failed to receive 1 resource signal(s) within the specified duration`.

![image](https://user-images.githubusercontent.com/82817126/155189745-37e346c9-519a-49e5-bba6-494ca5e47660.png)

It turns out that d

[2022-02-22 19:25] yaronkaikov commented on #311
@fee-mendes How did you create this cluster? did you use our template  from Scylla website?

[2022-02-22 19:25] fee-mendes commented on #311
Yes

[2022-02-22 19:32] yaronkaikov commented on #311
@fee-mendes , found the problem, it will be fixed as part of 4.5.5 (currently we are about to promote 4.5.4 , so i will have to fix it manually)

[2022-02-22 20:06] fee-mendes commented on #311
Thanks @yaronkaikov ! Very appreciated <3

[2022-02-23 06:51] yaronkaikov commented on #311
@benipeled I assume we are missing some backport for cloudformation in 4.5, can you please find those missing commits, and let's fix cloudformation for 4.5

[2022-02-23 12:49] benipeled commented on #311
We have many changes added to 4.6+ around arm and cluster default password,
I'll create a specific patch to fix this package mess on 4.5

[2022-02-24 11:48] #234 closed

[2022-02-28 08:24] syuu1228 opened #314 "GCP: GCP can attach Local SSD as SCSI disk, but gcp_instance misunderstands them as 'persistent disk'"
Since our code expects Local SSD are attached as NVMe disk and persistent disks are attached as SCSI disk, the code will misunderstand SCSI attached Local SSD as 'persistent disk'.

see: https://cloud.google.com/compute/docs/disks/local-ssd

_Local SSDs are available through both [SCSI](http://wikipedia.org/wiki/SCSI) and [NVMe](http://wikipedia.org/wiki/NVM_Express) interfaces._

Probably we don'

[2022-02-28 08:38] syuu1228 opened #315 "scylla_login: TypeError: unsupported operand type(s) for +: 'set' and 'set'"
Got following Traceback when I launched latest next image in t3.2xlarge instance type on AWS.
[code]

[2022-02-28 09:06] syuu1228 commented on #315
I found that it's not just incorrect code to handle set, but also we mistakenly use different type between IaaS classes:

On aws_instance we return set:
[code]
but on gcp_instance and azure_instance we return list:
[code]

I guess we should change aws_instance code, since gcp_instance and azure_instance shares most of code, and has almost identical interface.
And also we might want to test return

[2022-02-28 09:52] #315 closed

[2022-03-01 09:18] syuu1228 opened #319 "azure_instance class is broken"
azure_instance class does not have inherited abstract methods, causes Traceback:
[code]

[2022-03-01 11:35] syuu1228 opened #321 "azure: instancelocation, instancezone causes HTTPError 404"
Seems like metadata URL is wrong (probably "/compute/" prefix is needed on __instance_metadata() parameter):
[code]

[2022-03-01 18:15] aleksbykov opened #323 "Syntax error in scylla-machine-setup failed scylla run with ami"
AMI:ami-0ff81f984f84004e6(us-east-1)
Scylla version: Scylla version 5.1.dev-0.20220220.f292d3d67 with build-id c8f0435c530a8a3ce37184e1eecad25b05fc5790
Job: https://jenkins.scylladb.com/job/scylla-master/job/scylla-master-perf-regression-aws-test-latency/172/consoleFull

Scylla machine image failed to start:
[code]

[2022-03-03 16:13] syuu1228 opened #325 "azure_instance: is_unsupported_instance_class() doesn't looks like implemented"
It checks nothing, seems does not implemented yet:
[code]
https://github.com/scylladb/scylla-machine-image/blob/next/lib/scylla_cloud.py#L540

[2022-03-03 17:11] syuu1228 opened #326 "azure_instance: Traceback on is_recommended_instance_size()"
[code]

self.instance_size() is called but not implemented:
[code]
https://github.com/scylladb/scylla-machine-image/blob/next/lib/scylla_cloud.py#L550

[2022-03-04 20:46] syuu1228 opened #327 "azure_instance: the condition in is_recommended_instance() is broken"
`is_unsupported_instance_class() and is_supported_instance_class()` seems like broken condition:
[code]
https://github.com/scylladb/scylla-machine-image/blob/next/lib/scylla_cloud.py#L556

[2022-03-04 21:03] syuu1228 opened #328 "azure_instance: ephemeral disk / persistent disk implement is wrong on Lsv2-series"
Looks into Lsv2-series document,
https://docs.microsoft.com/en-us/azure/virtual-machines/lsv2-series
It says:

_1 Lsv2-series VMs have a standard SCSI based temp resource disk for OS paging/swap file use (D: on Windows, /dev/sdb on Linux). This disk provides 80 GiB of storage, 4,000 IOPS, and 80 MBps transfer rate for every 8 vCPUs (e.g. Standard_L80s_v2 provides 800 GiB at 40,000 IOPS and 800 MBP

[2022-03-06 08:52] fgelcer commented on #323
it is most likely to be fixed by #318

[2022-03-06 09:58] juliayakovlev opened #329 "Setting up swapspace failed on symlink creation"
## Installation details

Cluster size: 6 nodes (i3.2xlarge)

Scylla running with shards number (live nodes):
**No resources left at the end of the run**

OS / Image: `ami-036ff971553072cce ami-06cb779a9aa0b3693` (aws: eu-west-1)

Test: `rolling-upgrade-multi-dc-ami-test`

Test id: `57703427-77b4-49b4-a83a-35a79cb3e8f8`

Test name: `upgrade_test/rolling-upgrade-multi-dc-ami-test`

Test config file(

[2022-03-07 08:07] syuu1228 opened #331 "azure_instance: is_azure_instance() does not work (at least on some conditions)"
On Standard_L16s_v2 instance with official Ubuntu 20.04 image and eastus location, `azure_instance.is_azure_instance()` returns False, because of not able to resolve `metadata.azure.internal`.
[code]
[code]

I guess we need to switch to testing metadata url, just like we do in aws_instance.

[2022-03-07 12:32] roydahan commented on #329
@yaronkaikov are you aware of it?

[2022-03-07 12:33] yaronkaikov commented on #329
@syuu1228 Can you please have a look ?

[2022-03-07 16:00] syuu1228 commented on #329
The error is very unusual, `Warning! D-Bus connection terminated. Failed to wait for response: Connection reset by peer`  on systemctl probably means the connection to systemd is disconnected suddenly.
It may means systemd is dead on the instance, but I can't say more detail from only this log.

At least we can say the error is reported from systemctl, not our code. I found exactly same error mess

[2022-03-08 10:45] avikivity commented on #329
Maybe systemd/dbus was restarted for a package upgrade. I suggest to close this as non-reproducible, and reopen+investigate if we see it again. Otherwise it's a waste of effort.

[2022-03-09 19:28] aleksbykov opened #332 "instance built with ami-4.4.9 could n't start due to (unnamed net_device) (uninitialized): Failed to submit get_feature command 12 error: -62"
scylla ami: ami-0acfb885395ac4f8e(eu-north-1)
scylla version 4.4.9
Job: https://jenkins.scylladb.com/view/scylla-4.4/job/scylla-4.4/job/longevity/job/longevity-100gb-4h-test/
kernel version:` Linux longevity-100gb-4h-4-4-db-node-d2b1eac8-1 5.16.12-1.el7.elrepo.x86_64 #1 SMP PREEMPT Tue Mar 1 13:30:28 EST 2022 x86_64 x86_64 x86_64 GNU/Linux`
OS version:
[code]

Most of the jobs for 4.4.9 is failed.

[2022-03-09 19:48] yaronkaikov commented on #332
@syuu1228 Can you please take a look?

[2022-03-09 19:51] syuu1228 commented on #332
It sounds like ENA driver issue (unless nic device is broken), will take a look

[2022-03-09 19:53] syuu1228 commented on #332
Maybe it is because kernel version/ENA driver version difference.

[2022-03-10 05:39] fruch commented on #332
@aleksbykov compare it to a machine booted with AMI without user-data

we might be breaking something while boot it taking place cause of the user-data

[2022-03-10 10:58] aleksbykov commented on #332
@fruch i will check, but it failed during instance initialization, the user data is not yet loaded

[2022-03-10 11:52] fruch commented on #332
user-data is passed down during creating of an instance (much before we connect to it)

[2022-03-14 10:25] syuu1228 commented on #332
This bug report seems similar issue, different kernel though:
https://bugs.launchpad.net/ubuntu/+source/linux/+bug/1961968
Anyway it likely kernel or driver bug

[2022-03-16 20:23] yaronkaikov commented on #311
fixed in https://github.com/scylladb/scylla-machine-image/pull/313

[2022-03-19 17:31] syuu1228 commented on #332
Seems like the commit "PCI/MSI: Mask MSI-X vectors only on success" is causing the bug:
- discussion on Ubuntu: https://lists.ubuntu.com/archives/kernel-team/2022-February/128268.html
- the commit: https://git.kernel.org/pub/scm/linux/kernel/git/stable/linux.git/commit/?id=83dbf898a2d45289be875deb580e93050ba67529

And also I found same discussion on upstream (LKML), not only Ubuntu kernel:
- https

[2022-03-20 04:26] yaronkaikov commented on #332
@syuu1228 Since rscylla-4.4 is EOL (4.6.0 was released), i think we can close this. it's related only to centos based images which we don't have any more

[2022-03-22 12:18] #321 closed

[2022-03-22 12:18] #325 closed

[2022-03-22 12:18] #326 closed

[2022-03-22 12:18] #327 closed

[2022-03-22 12:18] #328 closed

[2022-03-22 12:18] #331 closed

[2022-04-12 15:23] aleksbykov opened #335 "Mistype in method call for ec2 instance in scylla-machine-image/libexec/scylla_login"
Welcome to Ubuntu 20.04.4 LTS (GNU/Linux 5.13.0-1021-aws x86_64)
[code]

Should be cloud_instance.ephemeral_disks()

[2022-04-27 07:03] enaydanov opened #341 "XFS online discard: fstrim.timer service is enabled after the start of a Scylla instance from a machine image"
We added `discard` option to the XFS mount recently (https://github.com/scylladb/scylla/commit/a19d00ef9b8b50ce520bb2cfbf5bc00b30de5cda) and fstrim is pointless when online discard is enabled (according to Avi.)

But for instances which run from Scylla machine images fstrim.timer service is still enabled.

[2022-04-27 10:12] fruch commented on #341
@enaydanov can you share the logs ? and which images did you used ?

[2022-04-27 21:24] avikivity opened #342 "AWS i4i not supported out of the box"
Need to recognize the instance family and tune I/O

[2022-04-27 21:25] avikivity commented on #342
/cc @tarzanek

[2022-04-28 07:48] slivne commented on #342
https://aws.amazon.com/blogs/aws/new-storage-optimized-amazon-ec2-instances-i4i-powered-by-intel-xeon-scalable-ice-lake-processors/

[2022-04-28 07:52] fruch commented on #341
@enaydanov FYI, fstrim is enabled by default on ubuntu, so fixing it here won't be enough. we should consider disabling it as part of scylla_setup

[2022-04-28 08:18] fruch commented on #341
this is the commandline, and there's no filter
[code]

[code]

regardless on our own images it would be safe to disable, wouldn't it ?

[2022-04-28 08:35] slivne commented on #341
Yes on our images we should disable

On Thu, Apr 28, 2022 at 11:18 AM Israel Fruchter ***@***.***>
wrote:

[2022-05-01 18:56] yaronkaikov opened #346 "[AMI/GCP/Azure] - Align images name"
Today we have different naming convention for our images
### **In AMI:**
For building AMI via Jenkins in master branch we have:  `scylla_2022-05-01T14-26-06Z-build-312-x86_64`
For building AMI locally we are getting: `scylla_2022-05-01T12-44-47Z-build-2022-05-01T12-44-46-`

Both image name doesn't make any sense, instead we need to check the tags to get more information

### **In GCP:**
For buildi

[2022-05-02 05:56] benipeled commented on #346
Suggested convention `<product>_<version>_<dev/debug>_<arch>`, ex.
- `scylla_5.1-dev.x86`
- `scylla_2022.1-dev.aarch64`
- `scylla_5.1-debug.x86` (we can use the `debug-image-` prefix for hydra backward compatibility)

All other information (date, build, commit, etc.) will be added as tags

[2022-05-02 06:49] #341 closed

[2022-05-02 10:44] fgelcer commented on #346
shouldn't it be `scylla_enterprise_2022.1-dev.aarch64`?

[2022-05-02 10:47] yaronkaikov commented on #346
yes

[2022-05-03 12:40] fruch opened #351 "scylla_cloud_io_setup doesn't have run premissions"
## Issue description

booting of the AMI cause the following error:
[code]

## Installation details

Cluster size: 1 nodes (i3.2xlarge)

Scylla Nodes used in this run:
- artifacts-ami-jenkins-db-node-6570c7bb-1 (44.204.205.146 | 10.0.0.97) (shards: -1)

OS / Image: `ami-038b9479c558eeae7` (aws: us-east-1)

Test: `artifacts-ami-test`
Test id: `6570c7bb-cabf-4155-8b30-775480b0b3e0`
Test name: `scyll

[2022-05-04 03:53] yaronkaikov commented on #351
@fruch I have dropped https://github.com/scylladb/scylla-machine-image/pull/347 from next.

[2022-05-04 03:53] #351 closed

[2022-05-06 18:07] soyacz opened #353 "Error in post_start_script.py on Azure"
I've been looking at logs when testing Scylla on Azure and got into such error:
[code]

For now I don't have details about precise versions (recent master) or more logs. Let me know if you need it.

[2022-05-10 15:24] soyacz commented on #353
Yes I was passing user-data (in yaml format)

Sorry @benipeled I cannot reproduce it now. I'll get back when I have it again with some more logs/machine running. Maybe it was something wrong with my `user-data` as I'm developing some additional setup with it for testing purposes.

[2022-05-11 06:41] fruch commented on #353
I think you can see that happening on both 5.0 and 2022.1 the azure AMI test keep failing there

[2022-05-11 06:45] soyacz commented on #353
yes, I've forgot about this issue. It was already reported here: https://github.com/scylladb/scylla-pkg/issues/2879

[2022-05-11 06:45] soyacz commented on #353
but on 5.0/2022.1 we don't pass `user-data`

[2022-05-11 14:56] soyacz commented on #353
yup, this are not the same. @fruch did you spot user_data issue somewhere or the one I mentioned?

[2022-05-11 15:07] fruch commented on #353
@benipeled  all  `azure_instance: *` commit @syuu1228 was doing are not in 5.0,
this need to be clarified if azure image are needed for 5.0, if they do, lot of things need to be backported, if they don't, please remove the trigger for the azure image artifact job

[2022-05-12 08:05] yaronkaikov commented on #353
@fruch AFAIK Azure is/should be part of 5.0, so if we have missing commits let's do the backports

[2022-05-12 08:35] fruch commented on #353
I don't know exactly what missing, but it should be test (and I don't have a bandwidth to do that now...)

[2022-05-16 15:04] syuu1228 commented on #353
I think we should backport at least this one:
[azure_instance: implement user-data](https://github.com/scylladb/scylla-machine-image/commit/37768f6b5d8ad40e26ef86a1db3fe03e56adc668)

And probably other bug fixes too:
[azure_instance: fix metadata url for location and zone](https://github.com/scylladb/scylla-machine-image/commit/f2745ab01c48d969c6a9dabec4e6a19762c53271)
[azure_instance: remove unne

[2022-05-16 17:15] yaronkaikov commented on #353
@syuu1228 please prepare the pr for 5.0,then we will merge from 5.0 to 2022.1

[2022-05-17 07:45] syuu1228 commented on #353
Sent PR: https://github.com/scylladb/scylla-machine-image/pull/355

[2022-05-18 14:07] xemul opened #356 "i4i.2xlarge not supported"
When starting an instance on i4i.2xl scylla fails to start with the message
[code]
https://jenkins.scylladb.com/view/staging/job/scylla-staging/job/fabio/job/for_xemul/job/5.0_latency-with-nemesis-rbno-control/15/

Migrated to Jira: [SMI-119](https://scylladb.atlassian.net/browse/SMI-119)

[SMI-119]: https://scylladb.atlassian.net/browse/SMI-119?atlOrigin=eyJpIjoiNWRkNTljNzYxNjVmNDY3MDlhMDU5Y2ZhYz

[2022-05-20 07:32] soyacz opened #357 "support cloud-init along with Scylla User Data"
Currently scylla-mechine-image configure script takes over user-data and does not allow to use cloud-init compatible input.
This prevents from using feature rich cloud-init and replaces it with something limited only to scylla.
E.g. in SCT we would like to use cloud-init with .yaml formatted files (see https://cloudinit.readthedocs.io/en/latest/topics/examples.html)
to configure instances.
Also ou

[2022-05-20 07:33] soyacz commented on #357
@bentsi ^^

[2022-05-22 06:30] fruch commented on #357
FYI, @yaronkaikov @syuu1228

@tzach, did we ever got requests/questions like this from customers ?

[2022-05-25 10:14] yaronkaikov commented on #342
Closes via https://github.com/scylladb/scylla-machine-image/pull/349

[2022-05-25 10:14] #342 closed

[2022-05-30 13:30] soyacz commented on #357
@tzach @slivne If you agree we want this I'd be glad to implement it (option 3 - with backward compatibility).

[2022-06-06 17:25] #356 closed, assigned to nobody

[2022-06-07 14:10] aleksbykov opened #364 "Scylla setup failed due to error systemctl is-active systemd-timesyncd"
## Installation details

Cluster size: 1 nodes (n1-standard-2)

Scylla Nodes used in this run:
- artifacts-ubuntu1804-jenkins-db-node-d946dd88-0-1 (34.138.95.216 | 10.142.15.205) (shards: -1)

OS / Image: `https://www.googleapis.com/compute/v1/projects/ubuntu-os-cloud/global/images/family/ubuntu-1804-lts` (gce: us-east1)

Test: `artifacts-ubuntu1804-test`
Test id: `d946dd88-b1f9-4423-9e54-05484ec2

[2022-06-07 15:41] fruch commented on #364
@syuu1228, what's going one with that fix ?
https://github.com/scylladb/scylla/issues/10455

[2022-06-07 15:55] #357 closed

[2022-06-08 09:00] aleksbykov commented on #364
This issue could be closed, opened new one: https://github.com/scylladb/scylla/issues/10751

[2022-06-08 09:25] #364 closed, assigned to nobody

[2022-06-08 11:34] roydahan opened #365 "i4i instance fails in artifact ami-test"
## Installation details

Cluster size: 1 nodes (i4i.2xlarge)

Scylla Nodes used in this run:
- artifacts-ami-jenkins-db-node-b265aa32-1 (44.195.35.34 | 10.0.3.22) (shards: -1)

OS / Image: `ami-023436d4c20a0abc7` (aws: us-east-1)

Test: `artifacts-ami-test`
Test id: `b265aa32-844b-483e-b2fc-14c1d0571126`
Test name: `scylla-5.0/artifacts/artifacts-ami-test`
Test config file(s):

- [ami.yaml](https:

[2022-06-09 01:09] syuu1228 opened #367 "AMI: CentOS image build fail with TypeError"
[code]

We broke scylla_install_image script again, since we mistakenly added python3-only code but the script run in python2 on CentOS7. (so the script has to be python2 and 3 compatible)
We can fix this easily, but do we still need CentOS7 support on master branch at all?

[2022-06-09 03:45] yaronkaikov commented on #367
@syuu1228 we don't need centos7 support. we should do some code cleanup and remove it (in both machine-image and pkg)

[2022-06-09 06:39] fruch commented on #367
@syuu1228 out of curiosity, when you were trying to build a centos7 based image ?

[2022-06-20 12:22] syuu1228 commented on #353
We can close this now since the patchset merged

[2022-07-01 11:06] soyacz opened #370 "Cannot run scylla on supported instance without io preset (m5d for example)"
When using supported instance (e.g. m5d) which has no io properties preset, Scylla fails to start due error:
[code]
Even if we manually provide io_properties.yaml and io.conf files it will always fail during `Scylla Cloud Image Setup` service.

[2022-07-01 11:10] soyacz commented on #370
Maybe in case of supported instance, `scylla_io_setup` should be triggered automatically when preset is not available instead of raising an error?

[2022-07-01 11:25] fruch commented on #370
It's call made long ago that we want the numbers to fixed (after it was tested and approved).

What is the test case ? that we are using a non supported type ?

BTW the title is confusing, is this type supported or not ?

[2022-07-01 11:40] soyacz commented on #370
According to code it is supported (see error message) - but we miss preset values for it.

So either we provide preconfigured values for all supported instances, or remove support. Another option would be running io_setup in that cases. Otherwise we cannot start Scylla.
Full test details:

## Installation details

Cluster size: 180 nodes (m5d.large)

Scylla Nodes used in this run:
- cluster-scale-

[2022-07-10 18:10] fgelcer commented on #370
@yaronkaikov , in today's master status meeting, it was decided what? that a user needs to run the `scylla_io_setup` by his own on any instance type that is not i3 or i4? or it was decided that we need to add `io_properties.yaml` and `io.conf` these other supported instances?

[2022-07-10 18:10] yaronkaikov commented on #367
@syuu1228 you already removed the support of Centos for AMI
Closing this

[2022-07-10 18:10] #367 closed

[2022-07-10 18:17] yaronkaikov commented on #370
@fgelcer we should add those properties as predefined values for each supported instance type. although i am not sure why, or how

In the mean time, by running `scylla_io_setup` you should overcome this

[2022-07-10 19:44] fgelcer commented on #370
@soyacz , based on previous comment by @yaronkaikov , it is similar with the workaround we were trying to do in the upgrade test from OSS

[2022-07-10 21:27] yaronkaikov commented on #20
@avikivity Any idea is it's relevant ?

[2022-07-10 21:28] yaronkaikov commented on #49
@fruch Any idea if it's relevant ? 4.3 is long gone

[2022-07-10 21:29] fruch commented on #370
@soyacz

https://github.com/scylladb/scylla-cluster-tests/pull/3631 seems to had a workaround copying the io.conf into place, can we check  why that workaround stopped working ?

[2022-07-10 21:30] yaronkaikov commented on #59
Closed via https://github.com/scylladb/scylla-machine-image/pull/289/commits

[2022-07-10 21:30] #59 closed

[2022-07-10 21:32] fruch commented on #49
The root cause was the fstrim.timer, and we are not using it anymore on master.

[2022-07-10 21:32] #49 closed

[2022-07-10 21:34] yaronkaikov commented on #75
Closed with https://github.com/scylladb/scylla-machine-image/pull/195/commits/b7c87543cc5039128d17d8373d48f720e5b88b44

[2022-07-10 21:34] #75 closed

[2022-07-10 21:35] yaronkaikov commented on #267
@ricardoborenstein Is this still relevant?we didn't get any information

[2022-07-10 21:36] yaronkaikov commented on #365
Closed via https://github.com/scylladb/scylla-machine-image/pull/366/commits/407984ddb01929cdaae18ba78dd3869ca86cbafd

[2022-07-10 21:36] #365 closed

[2022-07-11 06:16] yaronkaikov commented on #265
Closed via https://github.com/scylladb/scylla-machine-image/pull/266

[2022-07-11 06:16] #265 closed

[2022-07-11 06:17] #323 closed

[2022-07-11 06:18] #332 closed

[2022-07-11 06:19] yaronkaikov commented on #319
@syuu1228 i think the fix was done as part of https://github.com/scylladb/scylla-machine-image/pull/330, right? if yes, please close this issue

[2022-07-11 06:23] soyacz commented on #370
It fails on Scylla setup - not because of missing files, just because it fails when there are no preconfigured IO settings for this kind of instances (while `is_supported` method returns True for it).

[2022-07-11 06:38] fruch commented on #370
@yaronkaikov  so if it was working in 4.5, this is a regression in SMI, and need to be addressed.

[2022-07-11 13:59] avikivity commented on #20
no idea

[2022-07-11 22:41] yaronkaikov commented on #189
Version 4.0.11 is EOL long time ago and we already switched to AMI's based on ubuntu:20.04

[2022-07-11 22:41] #189 closed

[2022-07-12 06:33] syuu1228 commented on #319
It fixed by https://github.com/scylladb/scylla-machine-image/pull/330, closing.

[2022-07-12 06:33] #319 closed

[2022-07-13 14:55] tarzanek opened #375 "Scylla Enterprise 2022 rc8 (but I'd expect 5.0 too) errors out in scylla-image-post-start.service"
Use r5 instance type in AWS, try to use the AMI, you get:

[code]

[2022-07-13 14:57] tarzanek opened #376 "r5 not supported in IO setup, but no clean error shown"
Use any r5 instance in AWS,
use Scylla Enterprise 2022 rc8

upon using the AMI you get:
[code]

which likely points to missing instance type, but in such case there should be fallback to iotune, which is NOT happening, hence this bug

[2022-07-13 14:57] tarzanek commented on #376
crosslinking, since I saw both on same setup: https://github.com/scylladb/scylla-machine-image/issues/375

[2022-07-13 14:58] tarzanek commented on #376
@syuu1228 is above a regression of moving the code for io setup outside of scylla?

[2022-07-13 15:00] tarzanek commented on #376
or could it be the same as https://github.com/scylladb/scylla-machine-image/issues/370 ? @fruch can you help me decide/route this issue?

[2022-07-18 19:45] tarzanek commented on #376
yes, fallback to iotune was always there

[2022-07-19 05:25] fruch commented on #376
@yaronkaikov if this is indeed a regression, we need to fix

[2022-07-19 08:05] benipeled commented on #376
This is the missing fallback [0] and as you can see it exists on scylla repo (branch 2021.1) but is missing from scylla-machine-image - not sure if it was missed in the scylla -> scylla-machine-image switch or not added on purpose,

In any case the `run_iotune` function should be added to `scylla_cloud_io_setup.py` to support supported-instance without pre-configure io

[0] https://github.com/scyl

[2022-07-27 05:44] #376 closed

[2022-07-27 06:23] vponomaryov opened #382 "Invalid scylla docker image tags get generated"
After merge of the following PRs:
- https://github.com/scylladb/scylla-machine-image/pull/371
- https://github.com/scylladb/scylla/pull/10957/

We started having following list of docker images:
![2022_07_26--buggy-docker-tags-for-scylla](https://user-images.githubusercontent.com/3796058/180971444-882e2925-afae-4b84-9f8d-a26477427306.png)

And when we use it with `scylla operator` we get following

[2022-07-28 05:36] #346 closed

[2022-07-28 07:25] yaronkaikov opened #385 "[scylla.json]:check the option of removing duplication with `image_name` and `tags`"
Based on https://github.com/scylladb/scylla-machine-image/pull/383#discussion_r931807795

[2022-07-31 08:10] #382 closed

[2022-08-01 13:34] syuu1228 commented on #375
I think this is duplicated with #270

[2022-08-01 13:38] syuu1228 commented on #270
@benipeled I'm not sure the error still happens on latest master but at least still happens on enterprise-2022 and 5.0 (#375), any idea with this?

[2022-08-01 13:48] benipeled commented on #270
@syuu1228 as part of https://github.com/scylladb/scylla-machine-image/pull/379#issuecomment-1195281577, I checked both 5.0 and 2022.1 without userdata and didn't face this issue,
I'm not sure what fixed it but unless I missed something it's no longer reproducible

[2022-08-01 14:57] fruch commented on #270
@syuu1228 I think I'm fixing it in:
https://github.com/scylladb/scylla-machine-image/pull/378

[2022-08-01 19:59] fruch commented on #376
The reason was it's add 5 min if persistence disk is used, in this case it's just types we mark as supported and never supplied configuration. they were working out of the box in 2021.1, why break the users on it on 2022.1/5.0 ? If we decided to not support a type for some reason, that a different story

[2022-08-02 06:10] benipeled commented on #376
@syuu1228 thanks for the ref, the following from that comment indeed explains the decision

So we decided to add warning message to login prompt and let users to run scylla_io_setup instead._

What about using the scylla_login to notify the user about a background process? similar to the `Scylla is starting...` that rais in some situations, we can use `IO tuning is running in the background, make

[2022-08-02 15:40] slivne opened #387 "Image flag "start_scylla_on_first_boot" is not adhered too"
started an instance on t3.micro with user data

[code]

scylla was started for some reason

here is the the complete log related to scylla

[code]

scylla should have been started

[2022-08-02 15:56] fruch commented on #387
@slivne this user data is incorrect,

1) it should be a json, SMI just recently gain the support to use yaml in the user-data (and it's not on 5.0/2022.1)
2) also seem like the yaml example provide is also wrong, I'll open a PR to fix

a proper yaml or json would be:

[code]

[code]

[2022-08-02 16:03] slivne commented on #387
Ok will try that the cloud is using json

On Tue, Aug 2, 2022, 18:56 Israel Fruchter ***@***.***> wrote:

[2022-08-02 16:11] fruch commented on #387
sorry about the confusing regarding the yaml, it was introduce as part of supporting multipart mime in the user-data,
so we could use both cloud-init configurations and files, and SMI configuration at the same user-data so lot of the node configuration can be done via the cloud-init (things which are not scylla specific, like logging/apt/yum and such)

[2022-08-02 16:34] slivne commented on #387
Ok with the json this works ok

[code]

[2022-08-02 20:26] slivne commented on #387
closing issue it works as expected

[2022-08-02 20:26] #387 closed

[2022-08-16 09:23] avikivity opened #390 "Update image base-version to ubuntu 22.04"
Ubuntu 20.04 has less than 3 years of OS support remaining.

We should switch to Ubuntu 22.04 to reduce the need for OS upgrades in newly installed clusters.

[2022-08-18 16:32] soyacz opened #391 "Update `user_data_format_version` tag in Azure images"
When listing images in Azure, `user_data_format_version` is still set to `2` for recent images. Now we are on version `3`.

[2022-08-24 13:44] soyacz commented on #391
also tags are in old format e.g.`ScyllaVersion`. Looks like changes from https://github.com/scylladb/scylla-machine-image/pull/383 are not used in Azure

[2022-08-24 13:51] fruch commented on #391
the images you're seeing there ? from which branch there were created ?

[2022-08-24 15:36] soyacz commented on #391
from `master`. Example image tags:
[code]
btw. they're quite old (07.08)

[2022-08-24 15:48] fruch commented on #391
branches ScyllaDB-2022.1 and 5.0, probably doesn't hold the fixes you were referring too, of consolidating the tags

i.e. the one you are showing here, are not from master, but from release branches ! (explains why they are old, they get promoted only once in a while)

them having `'branch': 'master'` is probably the problem, they should be altered

@yaronkaikov you think the tagging consolidation

[2022-08-24 16:03] soyacz commented on #391
Ok, I've found them. I just don't see due to build_id being a date and not an integer:
[code]
@yaronkaikov is it a new standard to put date into `build_id`?

[2022-08-25 05:01] yaronkaikov commented on #391
@soyacz The value of `build_id` is taken from jenkins environment variable `env.BUILD_ID` which according to the documentation should be the build number. not sure why it's a date. will look into it

[2022-08-25 10:00] yaronkaikov commented on #391
I will do the backports later

[2022-09-01 14:00] yaronkaikov commented on #391
@fruch Backport done to 5.0 2022.1 5.1 and 2022.2

[2022-09-05 10:38] #391 closed

[2022-09-12 14:40] soyacz opened #395 "Error while parsing user data on 2022.2/5.1"
There's an error when starting Scylla services on 2022.2/5.1:
[code]

We don't see this issue on master, so maybe something more requires backporting.

[2022-09-12 15:41] fruch commented on #395
@soyacz it's non critical issue, i.e. it won't fail SCT tests...
it was addressed in:
https://github.com/scylladb/scylla-machine-image/pull/378

[2022-09-14 12:56] yaronkaikov commented on #395
After discussion with @fruch decided not to backport. closing

[2022-09-14 12:56] #395 closed

[2022-09-15 08:55] yaronkaikov opened #398 "[Azure]:Add swap file to image"
Microsoft recommendation is to store a swap disk within the /mnt filesystem which is ephemeral. This is a must to upload our Azure images to Microsoft marketplace

[2022-09-15 15:40] soyacz opened #399 "Preinstalled Scylla image has outdated packages after upgrade"
When upgrading Scylla on preinstalled Scylla images, after upgrade we can see outdated packages. Example for upgrade from 5.0.3 to recent dev:
[code]
When upgrade starts from older version (e.g. 4.6) we can see even older packages.
It looks upgrading with use of scylla-packages file is not upgrading all the packages. Thus upgraded VM != VM from image.

This is an issue as we don't extensively test

[2022-09-15 17:03] fruch commented on #399
I would argue there no much use for scylla machine image after the first boot of an instance.

Maybe if we ever want to upgrade the login "motd" and such.

[2022-09-19 07:26] k0machi opened #401 "Python2.7 not present by default on latest 5.2 AMIs"
[Run 1](http://argus.scylladb.com/test/a2b90d5a-c79b-4f9d-a9a7-98974e88c866/runs?additionalRuns%5B%5D=7d2fbbef-09e3-4e98-985f-2e1b3970a07c) | [Run 2](http://argus.scylladb.com/test/3b2cc0be-cb4d-44eb-8329-0309c6207e4f/runs?additionalRuns%5B%5D=7913d8ee-8ee2-45ba-af1a-14d4b4c4354d)

Pretty much every nemesis here that uses cqlsh failed with "No appropriate python interpreter found", because python2

[2022-09-19 07:31] fruch commented on #401
It was noticed already see: https://github.com/scylladb/scylla-pkg/issues/3094

the change cause it was yanked out, can you check the jobs failing for you with latest master versions ?

[2022-09-19 08:05] soyacz commented on #399
Maybe we don't care about this one, but package like `intel-microcode` is important. It looks this packages file is not created properly. So upgrade of AMI does not result in the same packages like in VM created from version we upgrade to.

[2022-09-19 09:12] roydahan commented on #401
I think it's solved already.

[2022-09-19 09:12] #401 closed

[2022-09-19 09:14] k0machi commented on #401
Latest master is fine, so good on that front

[2022-09-19 13:09] benipeled opened #402 "scylla-image-setup fail on instances with no pre-configured io"
When lunching a scylla AMI on a supported instance with no pre-configured io, the scylla-image-setup is failing,
For example,. create instance

[code]

failed on io.save()
[code]

This assertion was added as part of #358 (not sure what's the original change)
Seems like the io.save() call is redundant since we use self.save() early in the flow (or by running `scylla_io_setup` for instances with no

[2022-09-19 13:26] #398 closed

[2022-09-21 18:45] fruch commented on #399
@soyacz the packages you are referring to, are not directly depended by any of scylla packages, if they are import enough for scylla they should be on it's dependency graph.

https://github.com/scylladb/scylla-machine-image/blob/e7e7daa0ced4d650013849711d7ced5ebb6ed569/packer/scylla_install_image#L224

I don't think it's a real issue, with one exception we might need to be more explicit about, is

[2022-09-22 06:42] soyacz commented on #399
I opened this discussion to resolve my concern: should upgraded image contain the same list of packages as in VM created from upgraded version?

I was thinking that the whole idea of `scylla-packages` file was about that.  Otherwise, we don't need this file at all - apt can resolve dependencies by itself without this file.

[2022-09-22 07:49] fruch commented on #399
Again I don't know who initiated this whole change to the upgrade docs, and for what reasons... I don't really fully understand what the idea here...

[2022-09-28 06:53] #402 closed

[2022-10-03 09:55] michoecho commented on #335
Fixed by fc4357a740ba415fdcd1054c01440228c1a6cd88 (present in 5.1rc0), but not fixed in 5.0.
If there are no plans to fix it in 5.0, consider closing this issue.

[2022-10-25 14:55] vponomaryov opened #406 "Latest release image tag (5.1) violates semantic versioning"
Latest release of the docker scylla image is `5.1`, which violates the `semantic versioning` structure.
It must have been `5.1.0`.
`Scylla-operator` doesn't work correctly with `non`-`semver`-like docker tags.

![Screenshot from 2022-10-25 17-51-13](https://user-images.githubusercontent.com/3796058/197807773-528d100b-21b2-4851-a8b3-550e3147a67f.png)

Old similar issue for reference: https://github

[2022-10-25 20:25] fruch commented on #406
@vponomaryov move this to scylla-pkg

This repo doesn't have the code that handles the building of the docker images.

[2022-10-26 11:00] vponomaryov commented on #406
Done: https://github.com/scylladb/scylla-pkg/issues/3137

[2022-10-26 11:00] #406 closed

[2022-11-10 12:23] #390 closed

[2022-11-15 13:56] yaronkaikov opened #408 "[Images]: remove services which we don't need during image creation"
Following https://github.com/scylladb/scylla-enterprise/issues/2501, we noticed that at least one service is running in our images (seen in AMI) which is not needed - `fwupdmgr`.

Running `systemctl` on our latest ami image we have got the following list:
[code]
Let's review this list and make sure what can be removed

[2022-11-15 14:14] mykaul commented on #408
In no particular order:
1. Don't know if we need acpid.socket and acpid.service  - I don't think so.
2. We don't need man-db.timer
3. Don't know if we need motd-news.timer
4. Don't know if we need ua-timer.timer
Assuming we don't do regular in-place updates of packages, we probably don't need:
6. apt-daily-upgrade.timer
7. apt-daily.timer
8. Don't know if we need dpkg-db-backup.timer - probably sa

[2022-11-20 06:02] yaronkaikov commented on #76
All our images are now based on Ubuntu:22.04. the `-c aws` is not relevant anymore.

[2022-11-20 06:02] #76 closed

[2022-11-20 06:05] yaronkaikov commented on #56
@fruch Is this still relevant ?

[2022-11-20 06:05] yaronkaikov commented on #61
@fruch Any idea about this? no description

[2022-11-20 06:06] yaronkaikov commented on #81
@fruch ^

[2022-11-20 06:07] yaronkaikov commented on #142
@roydahan Any idea if this is still relevant?

[2022-11-20 06:33] fruch commented on #56
We seems that the cloud already handle this issue back at 4.0, on their own.

So I guess no one else is even aware about this file

[2022-11-20 06:38] fruch commented on #61
it's talking about the old hack to disable scylla from booting

https://github.com/scylladb/scylladb/blob/72dbce8d4638964f1f0b32c2027247e7dcc4b99d/dist/common/scripts/scylla_prepare#L145

it's there from the days before using systemd, and I don't think SMI is using this option anymore (i.e. it can be remove from scylla-core)

[2022-11-20 06:42] fruch commented on #81
We need to handle this inside create_devices scripts.
otherwise it would be break any user that would be trying to follow the procedure:
https://docs.scylladb.com/operating-scylla/procedures/cluster-management/rebuild-node/

if one would follow this procedure, he would fail can calling `scylla_create_devices` after restart of a node

[2022-11-20 06:48] fruch commented on #142
https://github.com/scylladb/scylla-machine-image/pull/117 was backported to 4.5
and 4.5.rc3 and 4.5.rc5 has those fixes

[2022-11-20 06:48] #142 closed

[2022-11-20 08:38] yaronkaikov commented on #230
Closed with https://github.com/scylladb/scylla-machine-image/pull/283 and https://github.com/scylladb/scylla-machine-image/pull/284

[2022-11-20 08:38] #230 closed

[2022-11-20 10:11] #56 closed

[2022-11-20 11:37] #385 closed

[2022-11-21 09:17] syuu1228 commented on #61
I think this can be just drop from scylla-core, so sent PR at https://github.com/scylladb/scylladb/pull/12043 https://github.com/scylladb/scylla-machine-image/pull/412

[2022-11-23 14:50] #408 closed

[2022-11-28 13:27] mykaul commented on #399
intel-microcode is not important for a VM on AWS, to the best of my knowledge.

[2022-11-28 13:29] mykaul commented on #267
Closing.

[2022-11-28 13:29] #267 closed

[2022-11-28 13:41] soyacz commented on #399
@mykaul `scylla-packages` file was not filled properly, but anyway I think we drop this approach anyway as specific versions can't be installed after newer one appears in Ubuntu repositories. @yaronkaikov please correct me if I'm wrong. Possibly this bug can be closed.

[2022-11-28 13:43] #399 closed